.commentBox{
    width: 70%;
    color: #8a8a8a;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 25px;
    font-size: 14px;
    border-bottom: 1px solid #bdbdbd;
    white-space: pre-wrap;
    margin-left: 25px;
    margin-right: 25px;
}

.floatLeft{
    float: left;
}

.floatRight{
    float: right;
}