

<!-- navigation background-->

<svg-icon src="./../../../../assets/svg/navigation_background.svg" [stretch]="true" 
  [svgStyle]="{'width':100, 'height': '100%'}"
  #navigation >

</svg-icon>

<!-- Dashboard -->
<svg-icon src="./../../../../assets/svg/dashboard-24.svg"  [applyCss]="true" [svgStyle]="{'width':65, 'height':65}"
class = 'icon' style="top: 30px;">
</svg-icon>

<!-- new request -->
<svg-icon src="./../../../../assets/svg/papers.svg"  [applyCss]="true" [svgStyle]="{'width':65, 'height':65}"
class = 'icon' style="top: 135px;">
</svg-icon>

<!-- open request - mine / all -->
<svg-icon src="./../../../../assets/svg/folder.svg"  [applyCss]="true" [svgStyle]="{'width':65, 'height':65}"
class = 'icon' style="top: 240px;">
</svg-icon>

<!-- account management -->
<svg-icon src="./../../../../assets/svg/account.svg"  [applyCss]="true" [svgStyle]="{'width':65, 'height':65}"
class = 'icon' style="top: 345px;">
</svg-icon>

<!-- users / groups management -->
<svg-icon src="./../../../../assets/svg/people.svg"  [applyCss]="true" [svgStyle]="{'width':65, 'height':65}"
class = 'icon' style="top: 450px;">
</svg-icon>

