.icon {
    position: absolute;
    left: 10px;
    height: 65px;
    width: 65px;
}


.icon :hover{
    cursor: pointer;
   background-color: red;
}


.navigation_background{

}

.navigation_background:hover {

    background-color: blue;
}