



<div class='rightContainer' *ngIf = "group !== undefined">   
    <div class = 'formInformationContainerSubcontent smallerContent'>
        <span class='formTitleSmall' >
            <img src="../../../../assets/images_design/group_icon_details.png" class="icon"/>
            <span class='formTitleSmallText'>  Skupina {{ group.name }} </span>

            <button mat-button color="warn" 
                    (click) = 'deleteGroup()' 
                    *ngIf='activeButtons '>
                Vymazať skupinu
            </button>
        </span>

        <li class='informationsContainer topspace'>
            <div class='informationTitle'>Manažér skupiny</div>
            <ul class='informationsHolder'><li > {{ group.groupManager.firstName }} {{ group.groupManager.lastName }}</li> </ul>
        </li>
        
        <li class='informationsContainer topspace'  [hidden]="group.description === null || group.description.length === 0">
            <div class='informationTitle'>Popis skupiny</div>
            <ul class='informationsHolder'><li > {{ group.description }}</li> </ul>
        </li>

        <li class='informationsContainer topspace' [hidden]="group.usersWatchGroup.length === 0">
            <div class='informationTitle'>Sledovatelia skupiny</div>
            <ul class='informationsHolder'>
                <li *ngFor="let user of group.usersWatchGroup"> 
                    {{ user.firstName }} {{ user.lastName }}  
                </li>
            </ul>    
        </li>

        <li class='informationsContainer topspace' [hidden]="group.usersInGroup.length === 0">
            <div class='informationTitle'>Členovia skupiny</div>
            <ul class='informationsHolder'>
                <li *ngFor="let user of group.usersInGroup"> 
                    {{ user.firstName }} {{ user.lastName }}  
                </li>
            </ul>    
        </li>

    </div>
</div>