.InlineParameters{
    display: block;
    width: 40%;
    position: relative;
    margin-bottom: 20px;
}

#fileUploader{
    float: left;
    width: 100%;
    margin-left: 20px;
}

#ticketSendingButton{
    margin-top: 10px;
    float: right;
    background-color: #0077ec;
}

#FormImage{
    position: absolute;
    top:125px;
    width: 325px;
    left: 55%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition:  transform .8s ease-in-out;
}



mat-form-field, mat-checkbox, .movedError{
    margin-left: 20px;;
}

textarea{
    height: 175px;
}



@media(min-width:1919px) {
    #FormImage{
        width: 400px;
        
    }

}