

.avatar {
    height: 35px;
    width: 35px;
    margin-right: 5px;
    margin-bottom: 10px;
    float: left;
}

.commentBoxName{
    position: relative;
    font-weight: bold;
    font-size: 12px;
    display: flow-root;
    margin-right: 20px;
}
.light{
    font-weight: lighter;
    display: contents;
}

.bigBold{
    font-weight: bold;
}

.flex{
    position: relative;
    display: flex;
}

p{
    margin-bottom: 0px;
    word-break: break-all;
}


#solutionImg{
    position: absolute;
    left: 10px;
}

#solutionText{
    position: relative;
    color: white;
    font-size: 19px;
    left: 68px;
    top: 2px;
}


