

<ng-container *ngIf = "requestDetails$ | async as requestDetails">
    <app-request-content
        [requestDetail]='requestDetails'>
    </app-request-content>

    <div *ngFor = "let requestComment of requestDetails.requestCommentDTOS"
        [ngClass] = "requestComment.creator.username === userStoreService.user.username ? 'floatRight' : 'floatLeft'"
        class="commentBox " >

      <app-request-comment-options
        class="commentIcons"
        *ngIf='requestComment.creator.username === commentCreatorUsername && requestDetails.closed === null'
        [requestComment]='requestComment'
        [isSolution] = 'requestComment.id === requestDetails.solutionComment'
        (shareEmitter) = 'changeFrames($event)'
        (lockEmitter) = 'changeCommentPrivacy($event)'
        (editEmitter) = 'editComment($event)'
        (deleteEmitter) = 'deleteComment($event)'>
      </app-request-comment-options>

        <app-request-comment-body
            [solutionId] = 'requestDetails.solutionComment'
            [requestComment]='requestComment'>
        </app-request-comment-body>
    </div>


    <app-request-comment-sharing
        *ngIf="showWindowCommentSharing && (requestDetails$ | async).closed === null"
        class = 'displayCommentSharing'
        (changeWindow) = "changeFrames(undefined)"
        (shareWithGroup) = "shareWith($event)">
    </app-request-comment-sharing>

    <app-request-comment-form
        *ngIf='(requestDetails$ | async)?.closed === null &&
              !(isGhost$ | async) &&
              ( (requestDetails$ | async)?.allowCommenting || (isSolver$ | async) )'
        (addedCommentEmitter)="addComment($event)">
    </app-request-comment-form>
</ng-container>

