

<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close" (click)="closeWindow()">&times;</span>
        <div class='content'>   
                <ul class='ulSecondColl'> 
                    <li class='information groupTitle' >Vyberte skupinu pre zdieľanie komentáru</li>
                    <li class='information lineHeight elevation' 
                        *ngFor="let name of (involvedInGroups$ | async)"
                        (click)="getGroupDetails(name)">
                        {{ name }} 
                    </li>
                </ul>

                <button mat-raised-button color="primary" 
                        id="sendingButton" 
                        type="submit" 
                        [hidden] = "clickedGroup === undefined"
                        (click) = "shareWith()"> 
                        Zdieľať </button>
            </div>




        <div class='groupDetails'>
            <app-group-details #groupDetails class='groupDetailContent'></app-group-details>
        </div>


    </div>  
</div>
  