<app-header></app-header>
<app-navigation></app-navigation>



<div id='contentContainer' >
    <div  class = 'windowLeft' id = 'userInforContainer'  >
        <app-user-details (changeWindow) = "changeFrames($event)" #userDetials 
            [displayedUser] = "userService.user"  addImageClick = 'true' showPasswordChange = 'true'>
        </app-user-details>
        <app-privileges #userPrivileges name = "uživateľa"></app-privileges>
    </div>

    <div  class = 'windowLeft' >
        <app-user-groups (selectedGroupEmmiter) = "initGroupPrivileges($event)"  
            [groupContainer] = "groupContainer | async" elevationActivated = "true">
        </app-user-groups>
        <app-group-details #groupDetails></app-group-details>
        <app-privileges #groupPrivileges ></app-privileges>
    </div>

    <div *ngIf="displayAvatarts" >
        <app-user-images (changeWindow) = "changeFrames($event)"></app-user-images>
    </div>

</div>
