#contentContainer{
    height: 100%;
    width: calc(100% - 85px);
    padding: 15px 35px;
    float: right;
    font-size: 14px;
}


.windowLeft{
    width: 40%;
    float: left;
    margin-left: 7%;
}
