
#contentContainer {
  height: 100%;
  width: calc(100% - 85px);
  padding: 5px;
  float: right;
}

#requestLeftSide {
  width: 60%;
  float: left;
}

#requestRightSide {
  /*  width: 35%;*/
  width: 30%;
  margin-right: 5%;
  float: right;
  position: relative;
}

#sliderDiv1 {
  position: absolute;
  top: 0px;
  right: 5px;
  z-index: 1;
  cursor: pointer;
}

.sliderButton {
  font-size: 40px;
  color: coral;

  -webkit-transition: 0.4s ease-out;
  -moz-transition: 0.4s ease-out;
  -o-transition: 0.4s ease-out;
  transition: 0.4s ease-out;

  &:hover {
    transform: scale(1.30);
    -webkit-transition: 0.4s ease-out;
    -moz-transition: 0.4s ease-out;
    -o-transition: 0.4s ease-out;
    transition: 0.4s ease-out;
  }
}

ng-sidebar-container {
  height: 100vh;
}

::ng-deep aside {
  background-color: #f6f6f6;
  padding: 2em 1em;
}



