.inlineParameters{
    display: block;
    width: 50%;
    margin-left: 40px;
    position: relative;
    margin-bottom: 10px;
}

#sendingButton{
    float: right;
    background-color:#3757c9;
}

.registerUserIcon{
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

.formTitle{
    font-size: 25px;
    font-weight: bold;
    color:#818181;
}

.formTitleContainer{
    display: inline-flex;
    margin-bottom: 20px;
}