<div class='contanierTitle'>
  <span class='formTitleSmall selectTitleSpace'>Zvoľte skupinu</span>
  <mat-form-field>
    <mat-label>Vyberte skupinu</mat-label>
    <mat-select (selectionChange)="selectGroup($event.value)">
      <mat-option *ngFor='let name of groupNames$ | async ' [value]='name'>
        {{ name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<ng-container *ngIf="groupDetails$ | async as group">
  <app-serdbuttons
    *ngIf="!(isGhost$ | async)"
    id='serdbuttonsGroup'
    [editActivated]='editGroupActivated'
    (editEmitter)="editGroup()"
    (resetEmitter)="editGroup()"
    (saveEmitter)="saveGroup()"
    (deleteEmitter)="deleteGroup()">
  </app-serdbuttons>

  <app-group-details
    #appGroupDetails
    [groupCopy]="group"
    [groupOrig]="group"
    [editGroupActivated]="editGroupActivated"
    [allUsers]='activeUsers$ | async'>

  </app-group-details>
  <app-privileges
    #appGroupPrivileges
    name="Skupiny"
    [enabledPrivilegesCopy]="group.applicationPrivilegeDTO"
    [enabledPrivilegesOrig]="group.applicationPrivilegeDTO"
    [disabledPrivilegesCopy]="group.unsetApplicationPrivilegeDTO"
    [disabledPrivilegesOrig]="group.unsetApplicationPrivilegeDTO"
    [applyGreenColor]='true'
    [hideUnassignedPriv]="!editGroupActivated"
    [activateUnableClick]="editGroupActivated">
  </app-privileges>

</ng-container>


