@import "../../../../../shared/customCss/SideTablePrintScss";


.avatar {
  height: 25px;
  width: 25px;
  margin-right: 5px;
  margin-left: -30px;
  margin-bottom: 8px;
  margin-top: -3px;
}

.clicable {
  color: #5fa9ff;
  cursor: pointer;
}

@media(max-width: 840px) {
  img{
    display: none;
  }

}
