

#navigationBackground{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    width: 85px;
    height: 100%;
}

.navigationIconContainer{
    margin-left: 6px;
    margin-bottom: 2px;
    cursor: pointer;
    width: 70px;
    padding: 15px 8px ;
    border-radius: 20px;
    transition: all .5s;
    
}

.navigationContainer{
    display: inline-block;
    vertical-align: middle;
    height:auto;
}

/* navigaiton icons */ 
.navigationIcon {
    &:hover {
        transition: All 0.45s ease-in-out;
        transform: translate(-8px, -8px);
    }
}

#dashboardIcon{
    width: 45px;
    height: 45px;
    margin-left:5px;
}

#requestNewIcon{
    width: 45px;
    height: 45px;
    margin-left: 5px;
}

#requestClosedIcon{
    width: 45px;
    height: 45px;
    margin-left: 5px;
}

#userProfileIcon{
    width: 45px;
    height: 45px;
    margin-left: 5px;
}

#appManagementIcon{
    width: 45px;
    height: 45px;
    margin-left: 5px;
}