

#navigationBackground{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    width: 80px;

    position: fixed;
    height: 100%;
   /* min-height: 90%;
    height:auto;*/
}

.navigationIconContainer{
    margin-left: 6px;
    margin-bottom: 60px;
    cursor: pointer;
    width: 70px;
    padding: 3px 8px ;
    border-radius: 20px;
    transition: all .5s;

}

#navigationContainer{
    display: inline-grid;

}

/* navigaiton icons */ 

.navigationIcon {
    transition: All 0.55s ease-out;
    position: fixed;
   &:hover {
        transform: scale(1.35);
    }
}



#dashboardIcon{
    width: 40px;
    height: 40px;
    margin-left:2px;
}

#requestNewIcon{
    width: 45px;
    height: 45px;
    margin-left: 0px;
}

#requestClosedIcon{
    width: 40px;
    height: 40px;
    margin-left: 5px;
}

#userProfileIcon{
    width: 45px;
    height: 45px;
    margin-left: 2px;
}

#appManagementIcon{
    width: 45px;
    height: 45px;
    margin-left: 2px;
}
