

<div id="navigationContainer">
    <!-- navigation background -->
    <img src="./../../../../assets/images_design/navigation_background_2.png" 
        alt="dashboard navigation icon"
        id="navigationBackground" >


        <!-- dashboard -->
        <div class='navigationIconContainer'>
            <img src="./../../../../assets/images_design/dashboard_2.png" 
                alt="dashboard navigation icon" 
                id='dashboardIcon'
                class='navigationIcon'
                appNavigationIconHover>
        </div>

        <!-- request new -->
        <div class='navigationIconContainer'>
            <img src="./../../../../assets/images_design/request_new_icon.png" 
                alt="dashboard navigation icon" 
                id='requestNewIcon'
                class='navigationIcon'
                appNavigationIconHover>
        </div>

        <!-- request closed -->
        <div class='navigationIconContainer'>
            <img src="./../../../../assets/images_design/request_closed_icon.png" 
                alt="dashboard navigation icon" 
                id='requestClosedIcon'
                class='navigationIcon'
                appNavigationIconHover>
        </div>

        <!-- user profile -->
        <div class='navigationIconContainer'>
            <img src="./../../../../assets/images_design/user_profile_icon.png" 
                alt="dashboard navigation icon" 
                id='userProfileIcon'
                class='navigationIcon'
                appNavigationIconHover>
        </div>

        <!-- app management -->
        <div class='navigationIconContainer'>
            <img src="./../../../../assets/images_design/team_icon.png" 
                alt="dashboard navigation icon" 
                id='appManagementIcon'
                class='navigationIcon'
                appNavigationIconHover>
        </div>

</div>
