<ng-container *ngIf="requestDetail">
    <!-- TICKET -->
    <div  *ngIf = " requestDetail.requestType === 'Ticket'" class='customRow mainInformationContainer' >
        <div class="raisedbox customCol" [style.width.%] = 75>
            <p class="raisedboxName" >
                <img [src]="'data:image/jpeg;base64,'+ requestDetail.creator.photoBytes" class='icon' />
                    {{ requestDetail.creator.firstName }} {{ requestDetail.creator.lastName }}<br>
                    {{ requestDetail.timestampCreation | date:'MMM d, y, h:mm:ss a'}}
            </p>
            <p > {{ $any(requestDetail).problem}}  </p>
        </div>
    </div>
    <!-- ------------------- -->

    <!-- REPORT -->
    <div  *ngIf = " requestDetail.requestType === 'Report'" class='mainInformationContainer'>
    <div class='customRow'>
            <div class="raisedbox customCol" [style.width.%] = 45>
                <p class="raisedboxName">Účeľ reportu</p>
                <p class='test'>
                    {{ $any(requestDetail).purpose}}
                </p>
            </div>

            <div class="raisedbox customCol" [style.width.%] = 45>
                <p class="raisedboxName">Kritériá reportu</p>
                <p  class='test'>
                    {{ $any(requestDetail).criteria}}
                </p>
            </div>
        </div>
        <div class='customRow'>
            <div class="raisedbox customCol" [style.width.%] = 45>
                <p class="raisedboxName">Viditeľné údaje</p>
                <p   class='test'>
                    {{ $any(requestDetail).visibleData}}
                </p>
            </div>
            <div class="raisedbox customCol" [style.width.%] = 45 *ngIf="$any(requestDetail).otherInformation !== null && $any(requestDetail).otherInformation !== '' ">
                <p class="raisedboxName">Dodatočné informácie</p>
                <p class='test'> {{ $any(requestDetail).otherInformation}} </p>
            </div>
        </div>
    </div>
    <!-- ------------------- -->
</ng-container>
