.uploaderContainer {
  margin-top: 10px;
  max-width: 300px;
  margin-left: 55px;
}

.sliderButton{
  font-size: 40px;
  color: coral;

  -webkit-transition:  0.4s ease-out;
  -moz-transition:  0.4s ease-out;
  -o-transition:  0.4s ease-out;
  transition:  0.4s ease-out;

  &:hover {
    transform: scale(1.30);
    -webkit-transition:  0.4s ease-out;
    -moz-transition:  0.4s ease-out;
    -o-transition:  0.4s ease-out;
    transition:  0.4s ease-out;
  }
}

#sliderDiv2{
  position: absolute;
  top: -18px;
  right: 5px;
  z-index: 1;
  cursor: pointer;
}

@media(max-width: 1080px) {
  #sliderDiv2{
    right: -25px;
  }
}
