
<!-- open / close request -->
<div class = 'module'>
    <button mat-raised-button
            *ngIf = 'isOpen && enableChangeState'
            color='warn'
            class='customInput'
            (click) = 'changeState()'
            matTooltip="Stlačením tlačítka uzatvoríte požiadavku"
            matTooltipClass="custom-tooltip">
                Uzatvoriť
            </button>

    <button mat-raised-button
            *ngIf = '!isOpen'
            color='warn'
            class='customInput openInput'
            (click) = 'changeState()'
            matTooltip="Stlačením tlačítka otvoríte požiadavku"
            matTooltipClass="custom-tooltip">
                Otvoriť
    </button>
    <hr>
</div>

<!-- enable / disable commenting -->
<div class = 'module' *ngIf = 'isOpen && enableChangeCommenting'>
    <label class="switch"
            matTooltip="Stlačením tlačítka zakážete komentovanie požiadavky bežným uživateľom.
                        Komentovať budú môcť len uživatelia klasifikovaní ako riešitelia"
            matTooltipClass="custom-tooltip">
        <input class="switch-input" type="checkbox"  (click) = 'changeCommenting()' [checked] = "allowCommenting" />
        <span class="switch-label" data-on="Povolené komentovanie" data-off="Zakázané komentovanie"></span>
        <span class="switch-handle"></span>
    </label>
    <hr>
</div>

<!-- remove solver -->
<div class = 'module'  *ngIf = 'isOpen && enableRemoveSolver'>
    <button mat-raised-button
            color='warn'
            class='customInput'
            (click) = 'removeMeOnRequest()'
            matTooltip="Stlačením tlačítka odstránite priradeného riešiteľa"
            matTooltipClass="custom-tooltip">
            Zmazať riešiteľa
    </button>
    <hr>
</div>

<!-- change solver -->
<div class = 'module' *ngIf = "isOpen && enableChangeSolver">
    <mat-form-field class='customInputSmall'>
        <mat-label>Zmena riešiteľa</mat-label>
        <mat-select  (selectionChange)="saveSolver($event.value)">
            <mat-option *ngFor='let user of availableUsers' [value] = "user">{{ user.firstName }} {{ user.lastName }}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button
            class='sendingButton'
            (click) = 'changeSolver()'>
                Zmeniť
    </button>
    <hr>
</div>

<!-- change priority -->
<div class = 'module'  *ngIf = 'isOpen && enableChangePriority'>
    <mat-form-field class='customInputSmall'>
        <mat-label>Zmena priority</mat-label>
        <mat-select (selectionChange)="savePriority($event.value)">
            <mat-option value="nízka">nízka</mat-option>
            <mat-option value="stredná">stredná</mat-option>
            <mat-option value="vysoká">vysoká</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button
        class='sendingButton'
        (click) = 'changePriority()'>
            Zmeniť
    </button>
    <hr>
</div>

<!-- Report only, add evaluation -->
<div class = 'module'  *ngIf = 'isOpen && enableEvaluation'>
    <mat-form-field class='customInputSmall'>
        <input  matInput placeholder="Nahodnocenie v dňoch" (keyup)="saveEvaluation($event.target.value)"  type="number">
    </mat-form-field>
    <button mat-raised-button  class='sendingButton' (click) = "addEvaluation()">Odoslať</button>
    <hr>
</div>
