@import "src/app/shared/style/ButtonOrange";

#contentContainer{
    height: 100%;
    width: calc(100% - 85px);
    padding: 5px;
    float: right;
    position: relative;
    color:#8a8a8a;
}




.requestForm{
    padding: 20px 40px;
}

@media(min-width:1919px) {
    .requestForm{
        padding: 40px 100px;
    }

}


