<app-header></app-header>

<app-navigation></app-navigation>

<div id='contentContainer'>

  <span class='formTitleSmall'>Správa aplikácie</span>

  <div class="orangeRaisedButtonContainer">
    <a mat-raised-button class="orangeRaisedButton"
       routerLink="/app_management/register_user"
       *ngIf="(isAdmin$ | async) || (hasPrivilegeAccess$ | async)">
      Registrovať uživateľa
    </a>
    <a mat-raised-button class="orangeRaisedButton"
       routerLink="/app_management/register_group"
       *ngIf="(isAdmin$ | async) || (hasPrivilegeAccess$ | async)">
      Registrovať skupinu
    </a>
  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
