@import "src/app/shared/style/ButtonOrange";

#contentContainer {
  height: 100%;
  width: calc(100% - 100px);
  padding: 5px;
  float: right;
}


.formTitleSmall {
  font-size: 26px;
  font-weight: bold;
  color: #2c8d61;
}

.content {
  position: relative;
  margin-top: 20px;

}

@media(min-width: 1919px) {
  .formTitleSmall {
    font-size: 30px;
  }

}
