<div class="table-responsive">
  <table class="custom_table">
    <thead class="custom_table_header">
    <tr>
      <th>Názov</th>
      <th>Začiatok</th>
      <th>Koniec</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let reminder of reminders">
      <td>
        {{ reminder.title }}
      </td>
      <td>
        <mat-form-field>
          <input matInput [ngxMatDatetimePicker]="picker1" placeholder="Čas začiatku" [value]="reminder.start" (dateChange)="saveStart($event, reminder)">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #picker1>
          </ngx-mat-datetime-picker>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput [ngxMatDatetimePicker]="picker2" placeholder="Čas ukončenia"  [value]="reminder.end" (dateChange)="saveEnd($event, reminder)">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #picker2 >
          </ngx-mat-datetime-picker>
        </mat-form-field>
      </td>
    </tr>
    </tbody>
  </table>
</div>
