
.contanierTitle{
    position: relative;
}

.formTitleSmall{
    font-size: 17px;
    font-weight: bold;
    color: #818181;
}

#userModificationButtons{
    right:  15%;
    position: absolute;
}

.selectTitleSpace{
    margin-right: 15px;
}

@media(max-width: 1250px) {
  #userModificationButtons{
    right:  0;
    position: relative;
  }
}
