<div class='content' *ngIf ='requestDetails !== null'>   
    <h3 class='detailTitle'>
        <img src="../../../../assets/images_design/information_icon.png" class="titleIcon"/>
        Všeobecné informácie
    </h3>

    <ul class='userInformations'>
        <li class='userInformationsContainer'>
            <div class='informationAnswer'>Meno požiadavky</div>
            <ul ><li div class='information'> {{ requestDetails.name }}</li> </ul>
        </li>
        
        <li class='userInformationsContainer'>
            <div class='informationAnswer'>Typ</div>
            <ul ><li div class='information'> {{ requestDetails.requestType}}</li> </ul>
        </li>

        <li class='userInformationsContainer'>
            <div class='informationAnswer'>Priorita</div>
            <ul> 
                <li class='information'>
                    <img src="../../../../assets/images_design/priority_low_icon_2.png" class="avatar" 
                            *ngIf='requestDetails.requestPriority === "malá"'/>
                    <img src="../../../../assets/images_design/priority_medium_icon_2.png" class="avatar"
                             *ngIf='requestDetails.requestPriority === "stredná"'/>
                    <img src="../../../../assets/images_design/priority_high_icon_2.png" class="avatar"
                             *ngIf='requestDetails.requestPriority === "vysoká"'/>
                    {{ requestDetails.requestPriority | titlecase }}  
                </li>
            </ul>
        </li>

        <li class='userInformationsContainer'>
            <div class='informationAnswer'>Stav</div>
            <ul> <li class='information'>{{ requestDetails.requestPosition }}  </li></ul>
        </li>

        <!-- Ticket informations -->
        <li class='userInformationsContainer' *ngIf = 'requestDetails.requestType === "Ticket" '>
            <div class='informationAnswer'>Typ ticketu</div>
            <ul ><li div class='information'> {{ $any(requestDetails).ticketType }}</li> </ul>
        </li>
        <li class='userInformationsContainer' *ngIf = 'requestDetails.requestType === "Ticket" '>
            <div class='informationAnswer'>{{ $any(requestDetails).ticketType }}</div>
            <ul ><li div class='information'> {{ $any(requestDetails).ticketSubtypeName }}</li> </ul>
        </li>

         <!-- Finance informations -->
         <li class='userInformationsContainer' *ngIf = 'requestDetails.requestType === "Financie" '>
            <div class='informationAnswer'>Typ financií</div>
            <ul ><li div class='information'> {{ $any(requestDetails).financeType }}</li> </ul>
        </li>



        <!-- Report informations -->
        <li class='userInformationsContainer' *ngIf = 'requestDetails.requestType === "Report" '>
            <div class='informationAnswer'>Vlastník reportu</div>
            <ul ><li div class='information'> {{ $any(requestDetails).owner }}</li> </ul>
        </li>
        <li class='userInformationsContainer' *ngIf = 'requestDetails.requestType === "Report" '>
            <div class='informationAnswer'>Frekvencia obnovenia</div>
            <ul ><li div class='information'> {{ $any(requestDetails).reportRefresh }}</li> </ul>
        </li>
        <li class='userInformationsContainer' *ngIf = 'requestDetails.requestType === "Report" '>
            <div class='informationAnswer'>Prístup pre</div>
            <ul ><li div class='information'> {{ $any(requestDetails).accessBy }}</li> </ul>
        </li>
        <li class='userInformationsContainer' *ngIf = 'requestDetails.requestType === "Report" '>
            <div class='informationAnswer'>Vyhodnotenie v dňoch</div>
            <ul ><li div class='information'> {{ $any(requestDetails).evaluation }}</li> </ul>
        </li>
        <li class='userInformationsContainer' *ngIf = 'requestDetails.requestType === "Report" '>
            <div class='informationAnswer'>Deadline</div>
            <ul ><li div class='information'> {{ $any(requestDetails).deadline | date:'MMM d, y '}}</li> </ul>
        </li>

    </ul>
</div>


<div class='content' *ngIf ='requestDetails !== null'>   
    <h3 class='detailTitle'>
        <img src="../../../../assets/images_design/user_infomatio_icon.png" class="titleIcon"/>
        Ľudia
    </h3>

    <ul class='userInformations'>
        <li class='userInformationsContainer'>
            <div class='informationAnswer'>Vytvoril</div>
            <ul>
                <li class='information'>
                    <img [src]="'data:image/jpeg;base64,'+requestDetails.creator.photoBytes" class='avatar'/>
                    {{ requestDetails.creator.firstName }} {{ requestDetails.creator.lastName }}
                </li>
            </ul>
        </li>
        
        <li class='userInformationsContainer'>
            <div class='informationAnswer'>Pridelené</div>
            <ul *ngIf = 'requestDetails.assigned !== null'>
                <li class='information'>
                    <img [src]="'data:image/jpeg;base64,'+requestDetails.assigned.photoBytes" class='avatar'/>
                    {{ requestDetails.assigned.firstName }} {{ requestDetails.assigned.lastName }}
                </li>
            </ul>
            <ul *ngIf = 'requestDetails.closed === null &&requestDetails.assigned === null && ( isSolver$ | async )'> 
                <li class='information clicable' (click) = "assignOnMe()"> prideliť mne  </li>
            </ul>
        </li>

        <li class='userInformationsContainer'>
            <div class='informationAnswer'>Sledované</div>
            <ul> 
                <li class='information ' *ngFor='let person of requestDetails.userToWatchRequest'>
                    <img [src]="'data:image/jpeg;base64,'+person.photoBytes" class='avatar'/>
                    {{ person.firstName }} {{ person.lastName }}
                </li>
            </ul>
        </li>

        <li class='userInformationsContainer'>
            <div class='informationAnswer'>Uzavrel</div>
            <ul *ngIf = 'requestDetails.closed !== null'>
                <li class='information'>
                    <img [src]="'data:image/jpeg;base64,'+requestDetails.closed.photoBytes" class='avatar'/>
                    {{ requestDetails.closed.firstName }} {{ requestDetails.closed.lastName }}
                </li>
            </ul>
        </li>
    </ul>
</div>




<div class='content' *ngIf ='requestDetails !== null'>   
    <h3 class='detailTitle'>
        <img src="../../../../assets/images_design/clock_icon.png" class="titleIcon"/>
        Sledovanie času
    </h3>

    <ul class='userInformations'>
        <li class='userInformationsContainer'>
            <div class='informationAnswer'>Čas vytvorenia</div>
            <ul>
                <li class='information'>
                    {{ requestDetails.timestampCreation | date:'MMM d, y, HH:mm:ss ' }}
                </li>
            </ul>
        </li>
        
        <li class='userInformationsContainer'>
            <div class='informationAnswer'>Čas uzatvorenia</div>
            <ul>
                <li class='information'>
                    {{ requestDetails.timestampClosed | date:'MMM d, y, HH:mm:ss '}} 
                </li>
            </ul>
        </li>

        <li class='userInformationsContainer'>
            <div class='informationAnswer'>Čas otvorenia</div>
            <ul> 
                <li class='information'>
                    {{ calculateOpenDays() }} dni
                </li>
            </ul>
        </li>
    </ul>
</div>



<div class='content' *ngIf ='requestDetails !== null'>   
    <h3 class='detailTitle'>
        <img src="../../../../assets/images_design/download_document_icon.png" class="titleIcon"/>
        Dokumenty
    </h3>

    <ul class='userInformations'>
        <li class='userInformationsContainer' *ngFor='let document of requestDetails.documents'>
            <div class='informationAnswer clicable' (click) = "downloadFile(document.name)"> {{ document.name }}</div>
            <ul>
                <li class='information'>
                    {{ document.lastModified  |  date:'MMM d, y, HH:mm:ss ' }}
                </li>
            </ul>
        </li>

         <!-- uploader -->
        <div class='uploaderContainer' *ngIf = 'requestDetails.closed === null && !(isGhost$  | async)'> 
            <app-file-upload id='uploader' 
                            [uploaderHeight] = '45' 
                            #fileUploader 
                            (fileInserted) = "uploadFile($event)"
                            hideIt = true>
            </app-file-upload>
        </div>
    </ul>
</div>
