
<h2 class='formTitle'>Požiadavka na IT & Projekty</h2>

<form [formGroup] = "ticketForm"  #ticketFormViewChild="ngForm"  (ngSubmit)="submit()">
   <!-- Values : {{ ticketForm.value | json }}
    <hr> -->
    <mat-form-field class='ticketInlineParameters'>
        <mat-label>Typ Tiketu</mat-label>
        <mat-select formControlName="ticketType" (selectionChange)= "changeTicketType($event.value)">
            <mat-option value="Software">Software</mat-option>
            <mat-option value="Hardware">Hardware</mat-option>
            <mat-option value="User">Uživateľ</mat-option>
            <mat-option value="Server">Server</mat-option>
            <mat-option value="Other">Iné</mat-option>
        </mat-select>

        <mat-error *ngIf="ticketType.invalid && ticketType.touched"> Typ tiketu nemôže byť prázdny </mat-error>
    </mat-form-field>

    <!--TICKET TYPE -->

    <!-- software -->
    <mat-form-field *ngIf = "ticketForm.value.ticketType === 'Software' " class='ticketInlineParameters'>
        <mat-label>{{ ticketForm.value.ticketType  }}</mat-label>

        <mat-select formControlName="ticketSubtypeName">
            <mat-option  *ngFor="let software of softwareTypes" [value]="software.name"  >{{ software.name }} </mat-option>
        </mat-select>

        <mat-error *ngIf="ticketSubtypeName.invalid && ticketSubtypeName.touched"> Prosím vyberte kategóriu pre {{ ticketForm.value.ticketType  }}</mat-error>
    </mat-form-field>

     <!--hardware  -->
    <mat-form-field *ngIf = "ticketForm.value.ticketType === 'Hardware'  " class='ticketInlineParameters'>
        <mat-label>{{ ticketForm.value.ticketType  }}</mat-label>

        <mat-select formControlName="ticketSubtypeName" >
            <mat-option  *ngFor="let hardware of hardwareTypes" [value]="hardware.name"  >{{ hardware.name }} </mat-option>
        </mat-select>

        <mat-error *ngIf=" ticketSubtypeName.invalid && ticketSubtypeName.touched">Prosím vyberte kategóriu pre {{ ticketForm.value.ticketType  }}</mat-error>
    </mat-form-field>

     <!-- server -->
    <mat-form-field *ngIf = " ticketForm.value.ticketType === 'Server' "  class='ticketInlineParameters'>
        <mat-label>{{ ticketForm.value.ticketType  }}</mat-label>

        <mat-select formControlName="ticketSubtypeName" >
            <mat-option  *ngFor="let server of serverTypes" [value]="server.name"  >{{ server.name }} </mat-option>
        </mat-select>

        <mat-error *ngIf=" ticketSubtypeName.invalid  && ticketSubtypeName.touched">Prosím vyberte kategóriu pre {{ ticketForm.value.ticketType  }}</mat-error>
    </mat-form-field>

    <!-- username or other -->
    <mat-form-field *ngIf = "ticketForm.value.ticketType === 'User' || ticketForm.value.ticketType === 'Other' " class='ticketInlineParameters'>
        <input matInput placeholder="Zadajte bližšie informácie" formControlName = "ticketSubtypeName">

        <mat-error *ngIf=" ticketSubtypeName.invalid  && ticketSubtypeName.touched"> Prosím vyberte kategóriu pre {{ ticketForm.value.ticketType  }}</mat-error>
    </mat-form-field>


    <!--Priority -->
    <mat-form-field class='ticketInlineParameters' >
        <mat-label>Priorita</mat-label>
        <mat-select formControlName="requestPriority">
            <mat-option value="nízka">nízka</mat-option>
            <mat-option value="stredná">stredná</mat-option>
            <mat-option value="vysoká">vysoká</mat-option>
        </mat-select>

        <mat-error *ngIf=" requestPriority.invalid && requestPriority.touched"> Prosím vyberte prioritu tiketu</mat-error>

    </mat-form-field>

    <!--nazov -->
    <mat-form-field class='ticketInlineParameters'>
        <input  matInput placeholder="Názov tiketu" formControlName = "name">

        <mat-error *ngIf=" name.invalid && name.touched"> Prosím zadefinujte meno tiketu v dĺžke od 5 po 254 znakov</mat-error>

    </mat-form-field>

    <!--problem -->
    <mat-form-field class='ticketInlineParameters' >
        <textarea  matInput placeholder="Popis problému" formControlName = "problem"></textarea>

        <mat-error *ngIf="problem.invalid  && problem.touched"> Prosím zadefinujte váš problém, minimálne 10 zankov</mat-error>
    </mat-form-field>

     <!-- uploader -->
    <div class='ticketInlineParameters'> 
        <app-file-upload id='uploader' [uploaderHeight] = '45' #fileUploader></app-file-upload>
    </div>

    <!-- submit button -->
    <div class='ticketInlineParameters'>
        <button mat-raised-button color="primary" id="ticketSendingButton" type="submit"> Odoslať </button>
    </div>

</form>

<ngx-spinner><p style="font-size: 20px; color: white">Posielanie požiadavky...</p> </ngx-spinner>
<img id='ticketFormImage' src="../../../../assets/images_design/ticket_form.png"/>