.ticketInlineParameters{
    display: block;
    width: 50%;
    margin-left: 40px;
    position: relative;
    margin-bottom: 10px;
}

#uploader{
    float: left;
    width: 100%;
}

#ticketSendingButton{
    margin-top: 10px;
    float: right;
}
