<app-header></app-header>
<app-navigation></app-navigation>



<div id='contentContainer'>
        <div class="requestFormButtonContainer">
            <a mat-raised-button class="requestFormButton" routerLink="/request_new/ticket">Ticket</a>
            <a mat-raised-button class="requestFormButton" routerLink="/request_new/report" >Report</a>
            <a mat-raised-button class="requestFormButton" routerLink="/request_new/finance">Financie</a>
        </div>
        <div class='requestForm'>
            <router-outlet></router-outlet>
        </div>
</div>
