

<div class='header'>
        <div class='headerTitle'>Požiadavky pridelené na mňa</div>
    </div>
    <div class="tableRequest mat-elevation-z3">
            <mat-table #table [dataSource]="dataSource">
            
                <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
                <mat-cell *matCellDef="let element">  {{ element.id }}. </mat-cell>
                </ng-container>
            
                <ng-container matColumnDef="type">
                <mat-header-cell *matHeaderCellDef>  Typ požiadavky  </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.requestType}}  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="additionalInformation">
                <mat-header-cell *matHeaderCellDef> Typ </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.additionalInformation}}  </mat-cell>
                </ng-container>
    
                <ng-container matColumnDef="creator">
                <mat-header-cell *matHeaderCellDef> Vytvoril </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <img [src]="'data:image/jpeg;base64,'+element.creatorImageByte" class='userIcon'/>
                    {{ element.creator}} </mat-cell>
                </ng-container>
            
                <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Názov </mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.name}} </mat-cell>
                </ng-container>
            
                <ng-container matColumnDef="priority">
                <mat-header-cell *matHeaderCellDef> Priorita </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.requestPriority }} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="assigned">
                    <mat-header-cell *matHeaderCellDef> Pridelené </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <img [src]="'data:image/jpeg;base64,'+element.assignedImageByte" class='userIcon'/> 
                        {{ element.assigned }}
                    </mat-cell>
                </ng-container>
            
                <ng-container matColumnDef="userAction">
                <mat-header-cell *matHeaderCellDef> Zahodit </mat-header-cell>
                <mat-cell *matCellDef="let element"> Zahodit </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="timeCreated">
                <mat-header-cell *matHeaderCellDef> Dátum </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.timestampCreation | date:'MMM d, y, h:mm:ss a'}} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef> Detaily  </mat-header-cell>
                <mat-cell *matCellDef="let element"> button </mat-cell>
            </ng-container>
            
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            
            <mat-paginator #paginator
                            [pageSize]="10"
                            [pageSizeOptions]="[5, 10, 20]">
            </mat-paginator>
        </div>
        