#calendar{
  position: relative;
  float: left;
  width: 45%;
  margin-right: 100px;
}

#calendar_form{
  position: relative;
  float: left;
  width: 25%;
}

#calendar_form_space{
  position: relative;
  margin-top: 70px;
}
#serdbuttons{
  position: absolute;
  top: 10px;
  right: 15px;
}
