<!-- display calendar -->
<div id="calendar">
  <app-calendar
    [events]="events"
    (openDetailsEmitter)="openDetails($event)">

  </app-calendar>
</div>

<!-- form to create reminder -->
<div id="calendar_form">
  <div id="calendar_form_space">
    <app-calendar-form
      #calendarForm
      (formEmitter)="addReminder($event)">

    </app-calendar-form>
  </div>
</div>


<!-- show details of reminder in modal -->
<ng-template #modalContent let-close="close">
  <div id="serdbuttons" *ngIf="selectedContainer$ | async as selectedContainer">
    <app-serdbuttons
    (deleteEmitter)="deleteReminder(selectedContainer)"
    (editEmitter)="toggleEdit()"
    (resetEmitter)="toggleEdit()"
    (saveEmitter)="updateEditedReminder()">

    </app-serdbuttons>
  </div>

  <app-calendar-event-details
    #calendarEventDetails
    [reminderContainer]="selectedContainer$ | async"
    [editReminder]="editReminder"
    (closeEmitter)='close()'>
  </app-calendar-event-details>
</ng-template>
