
<app-header></app-header>
<app-navigation></app-navigation>

<div id='contentContainer'>
    <app-request-table #myOpenRequests 
        headerColor="#358BF0" 
        [displayedColumns]= "viewTable"
        tableTitle="Moje požiadávky">
    </app-request-table>   

    <app-request-table #meAssignedRequests 
        headerColor="#56A3FF" 
        [displayedColumns]= "modifyTable"
        tableTitle="Požiadavky pridelené na mňa">
    </app-request-table> 

    <app-request-table #teamRequests headerColor="#B5D7FF" 
        [displayedColumns]= "viewTable"  
        displayAssignToMe='true'
        tableTitle="Požiadavky poslané členmi môjho tímu">
    </app-request-table>  

    <app-request-table #teamAssignedRequests headerColor="#B5D7FF" 
        [displayedColumns]= "viewTable"  
        displayAssignToMe='true'
        tableTitle="Požiadavky pridelené členom môjho tímu">
    </app-request-table>   

    <app-request-table #otherOpenRequests 
        headerColor="#E8F3FF" 
        [displayedColumns]= "viewTable" 
        displayAssignToMe='true'
        tableTitle="Ostatné otvorené požiadavky">
    </app-request-table>   

    
</div>