
<app-header></app-header>
<app-navigation></app-navigation>

<div id='contentContainer'>
    <app-request-table #myOpenRequests 
        headerColor="#358BF0" 
        [displayedColumns]= "viewTable"
        tableTitle="Moje požiadávky"
        *ngIf = " !(isGhost$ | async) && !(isAdmin$ | async) ">
    </app-request-table>   

    <app-request-table #meAssignedRequests 
        [hidden] = '!(isSolver$ | async) &&  meAssignedRequests.dataSource.data.length === 0'
        headerColor="#56A3FF" 
        [displayedColumns]= "modifyTable"
        tableTitle="Požiadavky pridelené na mňa"
        (removeFromMeEmitter) = "removeFromMe($event)">
    </app-request-table> 

    <app-request-table #teamRequests headerColor="#B5D7FF" 
        *ngIf = '(isManager$ | async) || (isManagerRightHand$ | async)'
        [displayedColumns]= "viewTable"  
        [displayAssignToMe] ='(isSolver$ | async)'
        tableTitle="Požiadavky poslané členmi môjho tímu"
        (assignOnMeEmitter) = "assignOnMe($event)">
    </app-request-table>  

    <app-request-table #teamAssignedRequests headerColor="#B5D7FF" 
        *ngIf = '(isManager$ | async) || (isManagerRightHand$ | async)'
        [displayedColumns]= "viewTable"  
        tableTitle="Požiadavky pridelené členom môjho tímu">
    </app-request-table>   

    <app-request-table #otherOpenRequests 
        *ngIf = '(isSolver$ | async)  || (isGhost$ | async)  || (isAdmin$ | async)'
        headerColor="#E8F3FF" 
        [displayedColumns]= "viewTable" 
        [displayAssignToMe] ='(isSolver$ | async)'
        tableTitle="Ostatné otvorené požiadavky"
        (assignOnMeEmitter) = "assignOnMe($event)">
    </app-request-table>   

    <ngx-spinner  >  <p style="font-size: 20px; color: white">Načítavam požiadavky...</p> </ngx-spinner>
</div>