h3 {
  margin: 0 0 10px;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
  white-space: pre-wrap;
}

mat-form-field {
  display: block;
  position: relative;
  text-align: left;
  width: 80%;
  margin-left: 10%;
}

textarea{
  height: 300px;
}
