<div class='content' *ngIf= 'requestDetail$ | async as requestDetails'>


    <!-- open / close request -->
    <div class = 'module'>
        <button mat-raised-button 
                *ngIf='requestDetails.closed === null && ((isAdmin$ | async) || 
                isAssignedOnMe(requestDetails) || (requestDetails.creator.username === userService.user.username ))   ' 
                id = 'sliderButton' 
                color='warn' 
                class='customInput' 
                (click) = 'closeRequest(requestDetails)'
                matTooltip="Stlačením tlačítka uzatvoríte požiadavku"
                matTooltipClass="custom-tooltip"> 
                    Uzatvoriť
                </button>
                
        <button mat-raised-button 
                *ngIf='requestDetails.closed !== null'
                id = 'sliderButton' 
                color='warn' 
                class='customInput openInput'  
                (click) = 'reopenRequest(requestDetails)'
                matTooltip="Stlačením tlačítka otvoríte požiadavku"
                matTooltipClass="custom-tooltip">
                    Otvoriť
        </button>
        <hr>
    </div>

    <!-- enable / disable commenting -->
    <div class = 'module' *ngIf='requestDetails.closed === null && ((isAdmin$ | async) || isAssignedOnMe(requestDetails))'>
        <label class="switch"
                matTooltip="Stlačením tlačítka zakážete komentovanie požiadavky bežným uživateľom. 
                            Komentovať budú môcť len uživatelia klasifikovaní ako riešitelia"
                matTooltipClass="custom-tooltip">
            <input class="switch-input" type="checkbox"  (click) = 'changeCommenting(requestDetails)' [checked] = "requestDetails.allowCommenting" />
            <span class="switch-label" data-on="Povolené komentovanie" data-off="Zakázané komentovanie"></span> 
            <span class="switch-handle"></span> 
        </label>
        <hr>
    </div>

    <!-- remove solver -->
    <div class = 'module'  *ngIf='requestDetails.closed === null  && (isAssignedOnMe(requestDetails) || (isAdmin$ | async))'>
        <button mat-raised-button 
                id = 'sliderButton' 
                color='warn'  
                class='customInput' 
                (click) = 'dropRequest(requestDetails)'
                matTooltip="Stlačením tlačítka odstránite priradeného riešiteľa"
                matTooltipClass="custom-tooltip"> 
                Zmazať riešiteľa
        </button>
        <hr>
    </div>

    <!-- change solver -->
    <div class = 'module' *ngIf = "requestDetails.closed === null &&  (
        ( ((isSolverRightHand$ | async) || (isManager$ | async)) && (isSolver$ | async))  ||  (isAdmin$ | async))">
        <mat-form-field class='customInputSmall'>
            <mat-label>Zmena riešiteľa</mat-label>
            <mat-select  (selectionChange)="selectedUser($event.value)">
                <mat-option *ngFor='let user of (allusers$ | async)' [value] = "user">{{ user.firstName }} {{ user.lastName }}</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button  class='sendingButton' (click) = 'changeAssignedUser(requestDetails)'>Zmeniť</button>
        <hr>
    </div>

    <!-- change priority -->
    <div class = 'module'  *ngIf='requestDetails.closed === null && ((isSolver$ | async) || (isAdmin$ | async)) && isAssignedOnMe(requestDetails)'>
        <mat-form-field class='customInputSmall'>
            <mat-label>Zmena priority</mat-label>
            <mat-select (selectionChange)="selectedPriority($event.value)">
                <mat-option value="nízka">nízka</mat-option>
                <mat-option value="stredná">stredná</mat-option>
                <mat-option value="vysoká">vysoká</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button  class='sendingButton' (click) = 'changePriority(requestDetails)'>Zmeniť</button>
        <hr>
    </div>

    <!-- Report only, add evaluation -->
    <div class = 'module'  
        *ngIf='requestDetails.closed === null && 
                requestDetails.requestType === "Report" && 
                ((isAssignedOnMe(requestDetails)) || (isAdmin$ | async))'>
        <mat-form-field class='customInputSmall'>
            <input  matInput placeholder="Nahodnocenie v dňoch" (keyup)="addedEvaluation($event.target.value)"  type="number">
        </mat-form-field>
        <button mat-raised-button  class='sendingButton' (click) = "addEvaluationForReport(requestDetails)">Odoslať</button>
        <hr>
    </div>

</div>