<div class='content' *ngIf= 'requestDetail$ | async as requestDetails'>


        
    <div class = 'module'>
        <button mat-raised-button id = 'sliderButton' color='warn' 
                class='customInput' (click) = 'closeRequest(requestDetails)'
                *ngIf='requestDetails.closed === null && ((isAdmin$ | async) || 
                isAssignedOnMe(requestDetails) || (requestDetails.creator.username === userService.user.username ))   ' > 
                    Uzatvoriť
                </button>
                
        <button mat-raised-button id = 'sliderButton' color='warn' 
                class='customInput openInput'  *ngIf='requestDetails.closed !== null' (click) = 'reopenRequest(requestDetails)'>Otvoriť</button>
        <hr>
    </div>


    <div class = 'module' *ngIf='requestDetails.closed === null && ((isAdmin$ | async) || isAssignedOnMe(requestDetails))'>
        <label class="switch">
            <input class="switch-input" type="checkbox"  (click) = 'changeCommenting(requestDetails)' [checked] = "requestDetails.allowCommenting" />
            <span class="switch-label" data-on="Povolené komentovanie" data-off="Zakázané komentovanie"></span> 
            <span class="switch-handle"></span> 
        </label>
        <hr>
    </div>


    <div class = 'module'  *ngIf='requestDetails.closed === null  && (isAssignedOnMe(requestDetails) || (isAdmin$ | async))'>
        <button mat-raised-button id = 'sliderButton' color='warn'  class='customInput' (click) = 'dropRequest(requestDetails)'> 
                Zmazať riešiteľa
        </button>
        <hr>
    </div>


    <div class = 'module' *ngIf = "requestDetails.closed === null &&  ((isSolverRightHand$ | async)  ||  (isAdmin$ | async))">
        <mat-form-field class='customInputSmall'>
            <mat-label>Zmena riešiteľa</mat-label>
            <mat-select  (selectionChange)="selectedUser($event.value)">
                <mat-option *ngFor='let user of (allusers$ | async)' [value] = "user">{{ user.firstName }} {{ user.lastName }}</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button  class='sendingButton' (click) = 'changeAssignedUser(requestDetails)'>Odoslať</button>
        <hr>
    </div>

    <div class = 'module'  *ngIf='requestDetails.closed === null && ((isSolver$ | async) || (isAdmin$ | async)) && isAssignedOnMe(requestDetails)'>
        <mat-form-field class='customInputSmall'>
            <mat-label>Zmena priority</mat-label>
            <mat-select (selectionChange)="selectedPriority($event.value)">
                <mat-option value="malá">malá</mat-option>
                <mat-option value="stredná">stredná</mat-option>
                <mat-option value="vysoká">vysoká</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button  class='sendingButton' (click) = 'changePriority(requestDetails)'>Odoslať</button>
        <hr>
    </div>

    <div class = 'module'  *ngIf='requestDetails.closed === null && requestDetails.requestType === "Report" && ((isSolver$ | async) || (isAdmin$ | async))'>
        <mat-form-field class='customInputSmall'>
            <input  matInput placeholder="Nahodnocenie v dňoch" (keyup)="addedEvaluation($event.target.value)"  type="number">
        </mat-form-field>
        <button mat-raised-button  class='sendingButton' (click) = "addEvaluationForReport(requestDetails)">Odoslať</button>
        <hr>
    </div>

</div>