

#contentContainer{
    height: 100%;
    width: calc(100% - 85px);
    padding: 0 10px 0 10px;
    float: right;
    position: relative;
}

.windowButtonChangers{
    position: relative;
    float: right;
    width: 100%;
    /*border-bottom: 1px solid #d7d7d7;*/
    margin-bottom: 15px;
}


.requestFormButton{
    float: right;
    margin-bottom: 8px;
    margin-right: 10px;
    background-color: #ffec98;
}


/** used in user / group registration */
.inlineParameters{
    display: block;
    margin-left: 40px;
    position: relative;
    margin-bottom: 10px;
}

.sendingButton{
    float: right;
    background-color:#3757c9;
}

.registerUserIcon{
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

.formTitle{
    font-size: 25px;
    font-weight: bold;
    color:#818181;
}

.formTitleSmall{
    font-size: 26px;
    font-weight: bold;
    color:#818181;
    position: absolute;
    left: 30px;
}

.formTitleContainer{
    display: inline-flex;
    margin-bottom: 20px;
    width: 100%;
}
.leftContainer{
    float: left;
    width: 45%;     
}