#contentContainer{
    height: 100%;
    width: calc(100% - 85px);
    padding: 10px;
    float: right;
    position: relative;
}

.windowButtonChangers{
    position: absolute;
    display: inline-grid;
    right: 15px;
    top: -10px
}


.requestFormButton{
    margin-bottom: 10px;
}


/** used in user / group registration */
.inlineParameters{
    display: block;
    margin-left: 40px;
    position: relative;
    margin-bottom: 10px;
}

.sendingButton{
    float: right;
    background-color:#3757c9;
}

.registerUserIcon{
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

.formTitle{
    font-size: 25px;
    font-weight: bold;
    color:#818181;
}

.formTitleSmall{
    margin-left: 35px;
    font-size: 19px;
    font-weight: bold;
    color:#818181;
}

.formTitleContainer{
    display: inline-flex;
    margin-bottom: 20px;
    width: 100%;
}
.leftContainer{
    float: left;
    width: 45%;     
}