
<div id='contentContainer'>
    <div class="windowButtonChangers">

        <span class='formTitleSmall'>Správa aplikácie</span>

        <a mat-raised-button class="requestFormButton"
            routerLink="/app_management/register_user"
            *ngIf =  "(isAdmin$ | async) || (hasPrivilegeAccess$ | async)"  >
            Registrovať uživateĺa
        </a>
        <a mat-raised-button class="requestFormButton"
            routerLink="/app_management/register_group"
            *ngIf =  "(isAdmin$ | async) || (hasPrivilegeAccess$ | async)">
            Registrovať skupinu
        </a>
    </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
