
#contentContainer{
    height: 100%;
    width: calc(100% - 85px);
    padding: 5px;
    float: right;
}


@media(max-width: 840px) {
  .hideOnSmallWindow{
    display: none;
  }
  #contentContainer{
    width: calc(100% - 5px);
  }
}
