<h2 class='formTitle'>Požiadavka na IT & Projekty</h2>

<div class='ticketInlineParameters'>
  <!-- ticket form -->
  <app-request-ticket-form
    #ticketFormComponent
    [softwareTypes]='softwareTypes'
    [hardwareTypes]='hardwareTypes'
    [serverTypes]='serverTypes'
    (formEmitter)='submitTicket($event)'>

  </app-request-ticket-form>


  <!-- uploader -->
  <app-file-upload
    #fileUploadComponent
    id='uploader'
    [uploaderHeight]='45'
    (fileInserted)='fileInserted($event)'>
  </app-file-upload>
</div>


<ngx-spinner><p style="font-size: 20px; color: white">Posielanie požiadavky...</p></ngx-spinner>
<img id='ticketFormImage' src="../../../../assets/images_design/ticket_form.png"/>
