@import "../user-profile.component.scss";

.elevation {
    cursor: pointer;
    padding: 2px;
    transition: 0.4s;
    color: #4d72f9;
}

.elevation:hover{    
    color:#8a8a8a;
    padding: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 2px 3px rgba(119, 119, 119, 0.75);
    -moz-box-shadow: 2px 2px 2px 3px rgba(119, 119, 119, 0.75);
    box-shadow: 2px 2px 2px 3px rgba(119, 119, 119, 0.75);

     -webkit-transition:  0.4s ease-out;
    -moz-transition:  0.4s ease-out;
    -o-transition:  0.4s ease-out;
    transition:  0.4s ease-out;
}