<ng-container *ngIf="request">
  <!-- button open request management -->
  <div id='sliderDiv2' (click)='closeSideBar()' *ngIf="!(isGhost$ | async)">
    <i class="material-icons sliderButton"> reorder</i>
  </div>

  <!-- request detail -->
  <app-request-information [request]='request'
                           [showAssignedOnMe]='isSolver$ | async'
                           (assignOnMeEmitter)='assignOnMe()'
                           (downloadFileEmitter)="downloadFile($event)">
  </app-request-information>

  <!-- uploader -->
  <div class='uploaderContainer'>
    <app-file-upload *ngIf='!request.closed && !(isGhost$  | async)'
                     [uploaderHeight]='45'
                     (fileInserted)="uploadFile($event)"
                     hideIt=true>
    </app-file-upload>
  </div>
</ng-container>
