<app-header></app-header>
<app-navigation></app-navigation>



<div id='contentContainer'>
        <div class="requestFormButtonContainer">
            <a mat-raised-button class="requestFormButton" routerLink="/request_new/ticket"
                *ngIf = 'hasTicketModuleAccess$ | async'>IT a Projekty</a>

            <a mat-raised-button class="requestFormButton" routerLink="/request_new/report" 
                *ngIf = 'hasReportModuleAccess$ | async'>Report</a>

            <a mat-raised-button class="requestFormButton"  routerLink="/request_new/finance"
                *ngIf = "hasFinanceModuleAccess$ | async">Účtáreň</a>
        </div>
        <div class='requestForm'>
            <router-outlet></router-outlet>
        </div>
</div>
