
#contentContainer{
    height: 100%;
    width: calc(100% - 85px);
    padding: 5px;
    float: right;
    position: relative;
    color:#8a8a8a;
}


.requestFormButtonContainer{
    position: absolute;
    display: inline-grid;
    right: 35px;
}

.requestFormButton{
    margin-bottom: 10px;
    background-color: #ffec98;
}

.requestForm{
    padding: 20px 40px;
} 

@media(min-width:1919px) {
    .requestForm{
        padding: 40px 100px;
    } 

}


