<h2 class='formTitle'>Požiadavka na Report</h2>

<form [formGroup] = "reportForm" (ngSubmit)="submit()">
      <!--  Values : {{ reportForm.value | json }}
        <hr> -->

        <div class = 'reportInlineParameters'>
            <!--name -->
            <mat-form-field >
                <input  matInput placeholder="Názov reportu" formControlName = "name">

                <mat-error *ngIf="name.invalid">
                        Prosím zadefinujte meno reportu v dĺžke od 5 po 254 znakov
                </mat-error>

            </mat-form-field>

            <!--nazov -->
            <mat-form-field >
                <input  matInput placeholder="Vlastník reportu" formControlName = "owner">

                <mat-error *ngIf="owner.invalid">
                        Prosím zadefinujte vlastníka reportu v dĺžke od 5 po 254 znakov
                </mat-error>

            </mat-form-field>

            <!--deadline -->
            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Deadline" formControlName = "deadline">
                <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                
                <mat-error *ngIf="deadline.invalid">
                    Prosím zadefinujte deadline reportu
                </mat-error>
            </mat-form-field>
        </div>

        <div class = 'reportInlineParameters'>
            <!--refresh -->
            <mat-form-field >
                <mat-label>Frekvencia obnovenia:</mat-label>
                <mat-select formControlName="reportRefresh">
                    <mat-option value="Jednorázové">jendorázové</mat-option>
                    <mat-option value="Denne">denne</mat-option>
                    <mat-option value="Týždenne">týždenne</mat-option>
                    <mat-option value="Mesačne">mesačne</mat-option>
                </mat-select>

                <mat-error *ngIf="reportRefresh.invalid">
                        Prosím zadefinujte frekvenciu obnovenia
                </mat-error>

            </mat-form-field>

            <!--Priority -->
            <mat-form-field >
                <mat-label>Priorita</mat-label>
                <mat-select formControlName="requestPriority">
                    <mat-option value="nízka">nízka</mat-option>
                    <mat-option value="stredná">stredná</mat-option>
                    <mat-option value="vysoká">vysoká</mat-option>
                </mat-select>

                <mat-error *ngIf="reportRefresh.invalid">
                        Prosím vyberte prioritu reportu
                </mat-error>
            </mat-form-field>


            <!--report type -->
            <mat-form-field >
                <mat-label>Typ reportu</mat-label>
                <mat-select formControlName="reportType">
                    <mat-option value="Nový report">Nový report</mat-option>
                    <mat-option value="Existujúci report">Existujúci report</mat-option>
                </mat-select>

                <mat-error *ngIf="reportType.invalid">
                        Prosím vyberte typ reportu
                </mat-error>
            </mat-form-field>
        </div>
    
        <div class='reportInlineParameters'>
            <mat-form-field >
                <textarea  matInput placeholder="Účeľ reportu" formControlName = "purpose"></textarea>

                <mat-error *ngIf="purpose.invalid">
                        Prosím zadefinujte účeľ reportu
                </mat-error>
            </mat-form-field>

            <mat-form-field >
                <textarea  matInput placeholder="Kritéria reportu" formControlName = "criteria"></textarea>

                <mat-error *ngIf="criteria.invalid">
                        Prosím zadefinujte kritéria reportu
                </mat-error>
            </mat-form-field>

            <mat-form-field >
                <textarea  matInput placeholder="Viditeľne údaje" formControlName = "visibleData"></textarea>

                <mat-error *ngIf="visibleData.invalid">
                        Prosím zadefinujte viditeľné údaje reportu
                </mat-error>
            </mat-form-field>

            <mat-form-field >
                <textarea  matInput placeholder="Iné Informácie" formControlName = "otherInformation"></textarea>
            </mat-form-field>
        </div>


        <div class = 'reportInlineParameters'>
            <!--access -->
            <mat-form-field >
                <input  matInput placeholder="Sprístupniť pre" formControlName = "accessBy">
                <mat-error *ngIf="accessBy.errors?.accessValid">
                        Prosím zadefinujte pre koho má byť report sprístupnený
                </mat-error>
                
            </mat-form-field>
          <!--  <button mat-raised-button type = "button" color="primary" class='formAssignedButton'>Pridať</button>-->
          <img src="../../../../assets/images_design/add_icon.png" class='formAssignedButton'  (click)="addPeopleToAccess()">

          <!-- display added people / remove them -->
            <div class = 'printingResults'> 
                <ul> 
                    <li *ngFor="let item of accessByPeopleArray; let i = index" class="oneLineLI">
                        <img src="../../../../assets/images_design/delete_icon.png" 
                            class='formdeleteButton'  
                            (click)="deleteItem(i)">
                            {{item}}
                    </li>
                </ul>
            </div>
        </div>

         <!-- access -->
        <div class = 'reportInlineParameters'>
            <mat-form-field >
                <input  matInput placeholder="Sprístupniť cez mail" formControlName = "reportAccessStored">
                <mat-error *ngIf="reportAccessStored.invalid" >
                    Prosím zadefinujte email vyzdielania dokumentu
                </mat-error>
            </mat-form-field>
        </div>



         <!-- uploader -->
        <div class = 'reportInlineParameters'>
            <app-file-upload id='uploader' [uploaderHeight] = '45' #fileUploader></app-file-upload>
        </div>

         <!-- submit button -->
        <div class = 'reportInlineParameters'>
            <button mat-raised-button color="primary" id="reportSendingButton" type="submit">Odoslať</button>
        </div>
   

    </form>

    <ngx-spinner><p style="font-size: 20px; color: white">Posielanie požiadavky...</p> </ngx-spinner>