mat-form-field{
    display: block;
    width: 50%;
    margin-left: 20px;
}

.reportInlineParameters{
    width: 90%;
    height: auto;
    display: inline-flex;
    margin-bottom: 15px;
    position: relative;
}

.reportInlineParameters mat-form-field textarea{
    height: 210px;
}

#uploader{
    float: left;
    width: 100%;
}

#reportSendingButton{
    position: absolute;
    right: 0px;
    background-color:#3757c9;
    margin-bottom: 20px;
}

.formAssignedButton{
    height: 35px;
    margin: auto 10px;
    cursor: pointer;
}

.formdeleteButton{
    height: 16px;
    width: 16px;
}

.oneLineLI{
    list-style-type: none; 
}