
<div *ngFor = "let requestComment of requestComments" 
    [ngClass] = "requestComment.creator.username === userService.user.username ? 'floatRight' : 'floatLeft'"
    class="commentBox " >

    <div class='flex'>
        <div class="commentBoxName" >
            <img [src]="'data:image/jpeg;base64,'+requestComment.creator.photoBytes" class='avatar' />
                {{ requestComment.creator.firstName }} {{ requestComment.creator.lastName }}<br>
              <div class='light'>  {{ requestComment.timestamp | date:'MMM d, y, h:mm:ss a'}}  </div>            
        </div>
        <div class="commentBoxName" *ngIf='requestComment.isPrivate' >
            Privátny komentár<br>
            <div class='light'> Zdieľané s : {{ requestComment.groupsToShare }}  </div>     
        </div>

        <div *ngIf='requestComment.creator.username === userService.user.username'>
            <img src="../../../../assets/images_design/delete_bin_icon.png" 
                class = 'icon' 
                id='deleteBin'
                (click)='deleteComment(requestComment)'/>

            <img src="../../../../assets/images_design/edit_icon.png" 
                class = 'icon' 
                id='editIcon'
                (click) = "editComment(requestComment)" />

            <img *ngIf='!requestComment.isPrivate' 
                 src="../../../../assets/images_design/lock_open_icon.png" 
                 class = 'icon' 
                 id='lockOpen'
                 (click) = "changeCommentPrivacy(requestComment)" />
            
            <img *ngIf='requestComment.isPrivate' 
                  src="../../../../assets/images_design/lock_closed_icon.png" 
                  class = 'icon' 
                  id='lockClosed'
                  (click) = "changeCommentPrivacy(requestComment)"/>
            
            <img *ngIf='requestComment.isPrivate' 
                  src="../../../../assets/images_design/share_icon.png" 
                  class = 'icon' 
                  id='share'
                  (click) = "changeFrames(requestComment)"/>
        </div>
    </div>


    <p > {{requestComment.comment}} </p>

</div>



<form [formGroup] = "commentForm" (ngSubmit)="submit()">
    <mat-form-field class='ticketInlineParameters' >
        <textarea  matInput placeholder="Napíšte komentár" id="commentField" formControlName = "commentField"></textarea>
        <!--<mat-error *ngIf="commentField.invalid"> Prosím zadajte komentár</mat-error>-->
    </mat-form-field>
    <div class='ticketInlineParameters'>
        <mat-checkbox (change) = "changeToPrivate($event.checked)">Privátny</mat-checkbox>
        <button mat-raised-button color="primary" id="sendingButton" type="submit"> Odoslať </button>
    </div>
</form>

<div  class = 'displayCommentSharing' *ngIf="changeFramws" >
    <app-comment-sharing  (changeWindow) = "changeFrames(undefined)" (shareWithGroup) = "shareWith($event)"></app-comment-sharing>
</div>