.commentBox{
    width: 70%;
    color: #8a8a8a;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 25px;
    font-size: 14px;
    border-bottom: 1px solid #bdbdbd;
    white-space: pre-wrap;
    margin-left: 25px;
    margin-right: 25px;
}

.floatLeft{
    float: left;
}

.floatRight{
    float: right;
}

.avatar {
    height: 35px;
    width: 35px;
    margin-right: 5px;
    margin-bottom: 10px;
    float: left;
}

.commentBoxName{
    position: relative;
    font-weight: bold;
    font-size: 12px;
    display: flow-root;
    margin-right: 20px;
}
.light{
    font-weight: lighter;
    display: contents;
}

.bigBold{
    font-weight: bold;
}

.flex{
    position: relative;
    display: flex;
}

p{
    margin-bottom: 0px;
    word-break: break-all;
}

.icon{
    margin-right: 2px;
    margin-bottom: 5px;
    width: 18px;
    height: 18px;
    cursor: pointer;

    -webkit-transition:  0.4s ease-out;
    -moz-transition:  0.4s ease-out;
    -o-transition:  0.4s ease-out;
    transition:  0.4s ease-out;

    &:hover {
        transform: scale(1.25);
        -webkit-transition:  0.4s ease-out;
        -moz-transition:  0.4s ease-out;
        -o-transition:  0.4s ease-out;
        transition:  0.4s ease-out;
    }
}

.commentIcons{
    position: absolute;
    top: -20px;
    right: -15px;

    display: inline-grid;

}


#solutionImg{
    position: absolute;
    left: 10px;
}

#solutionText{
    position: relative;
    color: white;
    font-size: 19px;
    left: 68px;
    top: 2px;
}

.displayCommentSharing{
    width: 90%;
    float: left;
    margin-left: 7%;
}

::ng-deep .custom-tooltip-icon{
    background-color: #818181;
    font-size: 14px;
    padding: 5px;
}


@media(min-width:1919px) {
    .commentIcons{
        position: absolute;
        top: -10px;
        right: 0px;
    
        display: block;
    
    }
    

}
