<app-header></app-header>

<app-navigation></app-navigation>

<div id='contentContainer'>

  <!-- my created reqests -->
  <ng-container *ngIf="myCreatedRequests$ | async as myCreatedRequests">
    <app-request-table
      *ngIf="myCreatedRequests.length > 0"
      headerColor="#358BF0"
      [data]='myCreatedRequests'
      [displayedColumns]="viewTable"
      tableTitle="Moje požiadávky"
      (seenLogsEmitter)='removeLogs($event)'>
    </app-request-table>
  </ng-container>

  <!-- me assigned requests -->
  <ng-container *ngIf="meAssignedRequests$ | async as meAssignedRequests">
    <app-request-table
      *ngIf="meAssignedRequests.length > 0"
      headerColor="#56A3FF"
      [displayedColumns]="modifyTable"
      [data]='meAssignedRequests'
      tableTitle="Požiadavky pridelené na mňa"
      (seenLogsEmitter)='removeLogs($event)'
      (removeFromMeEmitter)="removeMeAsSolver($event)">
    </app-request-table>
  </ng-container>

  <!-- other open requests -->
  <ng-container *ngIf="otherOpenRequests$ | async as otherOpenRequests">
    <app-request-table
      headerColor="#E8F3FF"
      *ngIf="otherOpenRequests.length > 0"
      [displayedColumns]="viewTable"
      [data]='otherOpenRequests'
      [displayAssignToMe]='(isSolver$ | async)'
      tableTitle="Ostatné otvorené požiadavky"
      (seenLogsEmitter)='removeLogs($event)'
      (assignOnMeEmitter)="addMeAsSolver($event)">
    </app-request-table>
  </ng-container>

</div>
