<ng-container *ngIf="requestDetails">
  <app-request-management
    class='content'
    [isOpen]='requestDetails.closed === null'
    [allowCommenting]="requestDetails.allowCommenting"
    [availableUsers]='allusers$ | async'
    [enableChangeState]='(this.isAdmin$ | async) || requestDetails.assigned?.username === userStoreService.user.username || requestDetails.creator.username === userStoreService.user.username'
    [enableChangeCommenting]="(this.isAdmin$ | async) || requestDetails.assigned?.username === userStoreService.user.username "
    [enableRemoveSolver]='(this.isAdmin$ | async) || requestDetails.assigned?.username === userStoreService.user.username '
    [enableChangeSolver]='(this.isAdmin$ | async) || ((isSolver$ | async) && ((isManager$ | async) || (isSolverRightHand$ | async)))'
    [enableChangePriority]='(isAdmin$ | async) || ((isSolver$ | async) && requestDetails.assigned?.username === userStoreService.user.username) '
    [enableEvaluation]='requestDetails.requestType === requestType.Report &&  (( isAdmin$ | async ) || requestDetails.assigned?.username === userStoreService.user.username ) '
    (changeStateEmitter)='changeState()'
    (commentingEmitter)='changeCommenting()'
    (removeSolverEmitter)='removeSolver()'
    (changeSolverEmitter)='changeSolver($event)'
    (changePriorityEmitter)='changePriority($event)'
    (evaluationEmitter)='addReportEvaluation($event)'>
  </app-request-management>
</ng-container>
