<div class = 'rightContainer' *ngIf='name'> 
    <div class = ' smallerContent'>
        <span class='formTitleSmall' >
            <img src="../../../../assets/images_design/privilege_icon.png" class="icon"/>
               <span class='formTitleSmallText'> Oprávnenia {{ name }} </span>       
        </span>

    
        <li class='informationsContainer topspace' *ngIf ='enabledPrivileges.moduleTypesToUse.length > 0 || disabledPrivileges.moduleTypesToUse.length > 0'>
            <div class='informationTitle'>Používanie modulov</div>
            <ul class='informationsHolder'> 
                <li *ngFor='let type of enabledPrivileges.moduleTypesToUse' 
                    [ngClass] = '{ "enabledPriv" :  activateUnableClick, "coloredLi" : applyGreenColor }'
                        (click) = 'changeModuleTypeToUse(type)' > {{ type }} </li>  

                <li *ngFor='let type of disabledPrivileges.moduleTypesToUse' 
                     [hidden] = "!activateUnableClick && hideUnassignedPriv"
                    (click) = 'changeModuleTypeToUse(type)'
                    [ngClass] = '{ "ableClick" :  activateUnableClick }' > {{ type }} </li>  
            </ul>
        </li>
        <li class='informationsContainer topspace' 
        *ngIf ='enabledPrivileges.submitFinanceRequests.length > 0 || disabledPrivileges.submitFinanceRequests.length > 0' 
        [ngClass] = '{"unableClick" : activateUnableClick &&  !enabledPrivileges.moduleTypesToUse.includes("Finance") }'>
            <div class='informationTitle'>Zasielanie financií</div>
            <ul class='informationsHolder'> 
                <li *ngFor='let type of enabledPrivileges.submitFinanceRequests'
                     [ngClass] = '{ "enabledPriv" :  activateUnableClick, "coloredLi" : applyGreenColor }'
                        (click) = 'changesubmitFinanceRequests(type)'> {{ type }} </li>  

                <li *ngFor='let type of disabledPrivileges.submitFinanceRequests'  
                    [hidden] = "!activateUnableClick && hideUnassignedPriv"  
                    (click) = 'changesubmitFinanceRequests(type)'
                    [ngClass] = '{ "ableClick" :  activateUnableClick  && enabledPrivileges.moduleTypesToUse.includes("Finance")}'> {{ type }} </li>  
            </ul>
        </li>
        <li class='informationsContainer topspace' *ngIf ='enabledPrivileges.requestTypesToSolve.length > 0 || disabledPrivileges.requestTypesToSolve.length > 0'>
            <div class='informationTitle'>Riešenie požiadávok</div>
            <ul class='informationsHolder'> 
                <li *ngFor='let type of enabledPrivileges.requestTypesToSolve' 
                        [ngClass] = '{ "enabledPriv" :  activateUnableClick, "coloredLi" : applyGreenColor }'
                        (click) = 'changeRequestTypeToSolve(type)'> 
                    {{ type }} 
                </li> 

                <li *ngFor='let type of disabledPrivileges.requestTypesToSolve' 
                    (click) = 'changeRequestTypeToSolve(type)'
                    [hidden] = "!activateUnableClick && hideUnassignedPriv"  
                    [ngClass] = '{ "ableClick" :  activateUnableClick }'> {{ type }} </li>  
            </ul>
        </li>
        <li class='informationsContainer topspace' 
            *ngIf ='enabledPrivileges.requestTypesToSolve.includes("Ticket") || 
                     disabledPrivileges.requestTypesToSolve.includes("Ticket")'  
            [ngClass] = '{"unableClick" : activateUnableClick &&  
                        (!enabledPrivileges.requestTypesToSolve.includes("Ticket")) }'>
            <div class='informationTitle'>Riešenie tiketov</div>
            <ul class='informationsHolder'> 
                <li *ngIf = ' enabledPrivileges.requestTypesToSolve.includes("Ticket") && enabledPrivileges.solveTickets.Software !== null' 
                    (click) = "changeSolveTicketsSoftwareAll()"  
                    [ngClass] = '{ "enabledPriv" :  activateUnableClick, "coloredLi" : applyGreenColor }'>Softvér</li>

                <li *ngIf = ' enabledPrivileges.requestTypesToSolve.includes("Ticket") && enabledPrivileges.solveTickets.Hardware !== null' 
                    (click) = "changeSolveTicketsHardwareAll()"
                    [ngClass] = '{ "enabledPriv" :  activateUnableClick, "coloredLi" : applyGreenColor }'>Hardvér</li>

                <li *ngIf = ' enabledPrivileges.requestTypesToSolve.includes("Ticket") &&  enabledPrivileges.solveTickets.Server !== null' 
                    (click) = "changeSolveTicketsServerAll()" 
                    [ngClass] = '{ "enabledPriv" :  activateUnableClick, "coloredLi" : applyGreenColor }'>Server</li>

                <li *ngIf = ' enabledPrivileges.requestTypesToSolve.includes("Ticket") &&  enabledPrivileges.solveTickets.User.length > 0' 
                    (click) = 'changeSolveTicketsUserAll()' 
                    [ngClass] = '{ "enabledPriv" :  activateUnableClick, "coloredLi" : applyGreenColor }'>Uživateľ</li>
                    
                <li *ngIf = ' enabledPrivileges.requestTypesToSolve.includes("Ticket") &&  enabledPrivileges.solveTickets.Other.length > 0' 
                    (click) = 'changeSolveTicketsOtherAll()' 
                     [ngClass] = '{ "enabledPriv" :  activateUnableClick, "coloredLi" : applyGreenColor }'>Iné</li>
                
       
                <div  >
                    <li *ngIf = ' activateUnableClick && enabledPrivileges.solveTickets.Software === null'  
                        (click) = "changeSolveTicketsSoftwareAll()" 
                        [ngClass] = '{ "ableClick" :  activateUnableClick && enabledPrivileges.requestTypesToSolve.includes("Ticket")}'>Softvér</li>

                    <li *ngIf = ' activateUnableClick && enabledPrivileges.solveTickets.Hardware === null ' 
                        (click) = "changeSolveTicketsHardwareAll()"
                        [ngClass] = '{ "ableClick" :  activateUnableClick && enabledPrivileges.requestTypesToSolve.includes("Ticket")  }'>Hardvér</li>

                    <li *ngIf = ' activateUnableClick && enabledPrivileges.solveTickets.Server === null' 
                        (click) = "changeSolveTicketsServerAll()"
                        [ngClass] = '{ "ableClick" :  activateUnableClick && enabledPrivileges.requestTypesToSolve.includes("Ticket")}'>Server</li>

                    <li *ngIf = ' activateUnableClick && enabledPrivileges.solveTickets.User.length === 0' 
                        (click) = 'changeSolveTicketsUserAll()'
                        [ngClass] = '{ "ableClick" :  activateUnableClick && enabledPrivileges.requestTypesToSolve.includes("Ticket")}'>Uživateľ</li>

                    <li *ngIf = 'activateUnableClick && enabledPrivileges.solveTickets.Other.length === 0' 
                        (click) = 'changeSolveTicketsOtherAll()'
                        [ngClass] = '{ "ableClick" :  activateUnableClick && enabledPrivileges.requestTypesToSolve.includes("Ticket")}'>Iné</li>
                </div>
            </ul>
        </li>
      <li class='informationsContainer topspace' 
            *ngIf ='enabledPrivileges.solveTickets.Software?.length > 0 || disabledPrivileges.solveTickets.Software.length > 0' 
            [ngClass] = '{"unableClick" : activateUnableClick && (!enabledPrivileges.requestTypesToSolve.includes("Ticket") 
                        || enabledPrivileges.solveTickets.Software === null)}'>
            <div class='informationTitle'>Riešenie Softvéru</div>
            <ul class='informationsHolder'> 
                <li *ngFor='let type of enabledPrivileges.solveTickets.Software' 
                    [ngClass] = '{ "enabledPriv" :  activateUnableClick, "coloredLi" : applyGreenColor }' 
                    (click) = 'changeSolveTicketsSoftware(type)'> {{ type }} </li>  

                <li *ngFor='let type of disabledPrivileges.solveTickets.Software' 
                    [hidden] = "!activateUnableClick && hideUnassignedPriv"  
                    (click) = 'changeSolveTicketsSoftware(type)'
                    [ngClass] = '{ "ableClick" :  activateUnableClick && 
                        enabledPrivileges.requestTypesToSolve.includes("Ticket") && 
                        enabledPrivileges.solveTickets.Software !== null}'> 
                        {{ type }} 
                </li>  
            </ul>
        </li>
        <li class='informationsContainer topspace' 
            *ngIf ='enabledPrivileges.solveTickets.Hardware?.length > 0 || disabledPrivileges.solveTickets.Hardware.length > 0' 
            [ngClass] = '{"unableClick" : activateUnableClick &&  
                    (!enabledPrivileges.requestTypesToSolve.includes("Ticket") || enabledPrivileges.solveTickets.Hardware === null ) }'>
            <div class='informationTitle'>Riešenie Hardvéru</div>
            <ul class='informationsHolder'> 
                <li *ngFor='let type of enabledPrivileges.solveTickets.Hardware' 
                    [ngClass] = '{ "enabledPriv" :  activateUnableClick, "coloredLi" : applyGreenColor }' 
                    (click) = 'changeSolveTicketsHardware(type)'> {{ type }} </li>  

                <li *ngFor='let type of disabledPrivileges.solveTickets.Hardware' 
                    (click) = 'changeSolveTicketsHardware(type)'
                    [hidden] = "!activateUnableClick && hideUnassignedPriv"  
                    [ngClass] = '{ "ableClick" : activateUnableClick && enabledPrivileges.requestTypesToSolve.includes("Ticket")
                                && enabledPrivileges.solveTickets.Hardware !== null }'> {{ type }} </li>  
            </ul>
        </li>
        <li class='informationsContainer topspace' 
            *ngIf ='enabledPrivileges.solveTickets.Server?.length > 0 || disabledPrivileges.solveTickets.Server.length > 0' 
            [ngClass] = '{"unableClick" : activateUnableClick &&  
                    (!enabledPrivileges.requestTypesToSolve.includes("Ticket") || enabledPrivileges.solveTickets.Server === null) }'>
            <div class='informationTitle'>Riešenie Serverov</div>
            <ul class='informationsHolder'> 
                <li *ngFor='let type of enabledPrivileges.solveTickets.Server' 
                    [ngClass] = '{ "enabledPriv" :  activateUnableClick, "coloredLi" : applyGreenColor }'
                    (click) = 'changeSolveTicketsServer(type)'> {{ type }} </li>  

                <li *ngFor='let type of disabledPrivileges.solveTickets.Server' 
                    (click) = 'changeSolveTicketsServer(type)'
                    [hidden] = "!activateUnableClick && hideUnassignedPriv"  
                    [ngClass] = '{ "ableClick" :  activateUnableClick && enabledPrivileges.requestTypesToSolve.includes("Ticket")
                                && enabledPrivileges.solveTickets.Server !== null}'> {{ type }} </li>  
            </ul>
        </li>

    </div>
</div>