<div class = 'rightContainer' *ngIf='enabledPrivileges || disabledPrivileges'> 
    <div class = 'formInformationContainerSubcontent smallerContent'>
        <span class='formTitleSmall' >
            <img src="../../../../assets/images_design/privilege_icon.png" class="icon"/>
                Oprávnenia {{ name }} 
        </span>

    
        <li class='informationsContainer topspace' *ngIf ='enabledPrivileges?.moduleTypesToUse.length > 0 || disabledPrivileges?.moduleTypesToUse.length > 0'>
            <div class='informationTitle'>Používanie modulov</div>
            <ul class='informationsHolder'> 
                <li *ngFor='let type of enabledPrivileges?.moduleTypesToUse'> {{ type }} </li>  
                <li *ngFor='let type of disabledPrivileges?.moduleTypesToUse'> {{ type }} </li>  
            </ul>
        </li>
        <li class='informationsContainer topspace' *ngIf ='enabledPrivileges?.submitFinanceRequests.length > 0 || disabledPrivileges?.submitFinanceRequests.length > 0' >
            <div class='informationTitle'>Zasielanie financií</div>
            <ul class='informationsHolder'> 
                <li *ngFor='let type of enabledPrivileges?.submitFinanceRequests'> {{ type }} </li>  
                <li *ngFor='let type of disabledPrivileges?.submitFinanceRequests'> {{ type }} </li>  
            </ul>
        </li>
        <li class='informationsContainer topspace' *ngIf ='enabledPrivileges?.requestTypesToSolve.length > 0 || disabledPrivileges?.requestTypesToSolve.length > 0'>
            <div class='informationTitle'>Riešenie požiadávok</div>
            <ul class='informationsHolder'> 
                <li *ngFor='let type of enabledPrivileges?.requestTypesToSolve'> {{ type }} </li>  
                <li *ngFor='let type of disabledPrivileges?.requestTypesToSolve'> {{ type }} </li>  
            </ul>
        </li>
        <li class='informationsContainer topspace' *ngIf ='canSolveTickets()'>
            <div class='informationTitle'>Riešenie tiketov</div>
            <ul class='informationsHolder'> 
                <li *ngIf = 'enabledPrivileges?.solveTickets.Software.length > 0'>Softvér</li>
                <li *ngIf = 'enabledPrivileges?.solveTickets.Hardware.length > 0'>Hardvér</li>
                <li *ngIf = 'enabledPrivileges?.solveTickets.Server.length > 0'>Server</li>
                <li *ngIf = 'enabledPrivileges?.solveTickets.User.length > 0'>Uživateľ</li>
                <li *ngIf = 'enabledPrivileges?.solveTickets.Other.length > 0'>Iné</li>

                <li *ngIf = 'disabledPrivileges?.solveTickets.Software.length > 0'>Softvér</li>
                <li *ngIf = 'disabledPrivileges?.solveTickets.Hardware.length > 0'>Hardvér</li>
                <li *ngIf = 'disabledPrivileges?.solveTickets.Server.length > 0'>Server</li>
                <li *ngIf = 'disabledPrivileges?.solveTickets.User.length > 0'>Uživateľ</li>
                <li *ngIf = 'disabledPrivileges?.solveTickets.Other.length > 0'>Iné</li>
            </ul>
        </li>
      <li class='informationsContainer topspace' *ngIf ='enabledPrivileges?.solveTickets.Software.length > 0 || disabledPrivileges?.solveTickets.Software.length > 0' >
            <div class='informationTitle'>Riešenie Softvéru</div>
            <ul class='informationsHolder'> 
                <li *ngFor='let type of enabledPrivileges?.solveTickets.Software'> {{ type }} </li>  
                <li *ngFor='let type of disabledPrivileges?.solveTickets.Software'> {{ type }} </li>  
            </ul>
        </li>
        <li class='informationsContainer topspace' *ngIf ='enabledPrivileges?.solveTickets.Hardware.length > 0 || disabledPrivileges?.solveTickets.Hardware.length > 0' >
            <div class='informationTitle'>Riešenie Hardvéru</div>
            <ul class='informationsHolder'> 
                <li *ngFor='let type of enabledPrivileges?.solveTickets.Hardware'> {{ type }} </li>  
                <li *ngFor='let type of disabledPrivileges?.solveTickets.Hardware'> {{ type }} </li>  
            </ul>
        </li>
        <li class='informationsContainer topspace' *ngIf ='enabledPrivileges?.solveTickets.Server.length > 0 || disabledPrivileges?.solveTickets.Server.length > 0' >
            <div class='informationTitle'>Riešenie Serverov</div>
            <ul class='informationsHolder'> 
                <li *ngFor='let type of enabledPrivileges?.solveTickets.Server'> {{ type }} </li>  
                <li *ngFor='let type of disabledPrivileges?.solveTickets.Server'> {{ type }} </li>  
            </ul>
        </li>

    </div>
</div>