<div class='rightContainer' *ngIf = "displayedUser !== undefined">   
    <div class = ' smallerContent'>

        <span class='formTitleSmall' >
            <img src="../../../../assets/images_design/information_icon.png" class="icon"/>
            Detaily uživateľa
        </span>


        <li class='informationsContainer topspace'>
            <div class='informationTitle'>Avatar</div>
            <ul class='informationsHolder'>
                <li>
                    <img [src]="'data:image/jpeg;base64,'+ displayedUser.photoBytes" class='avatar' 
                    (click)="changeFrames()"  [ngClass] = '{"avatarReactive" : addImageClick }' />
                </li>
            </ul> 
        </li>
        
        <li class='informationsContainer topspace'>
            <div class='informationTitle'>Meno</div>
            <ul class='informationsHolder'><li > {{ displayedUser.firstName }}</li> </ul>
        </li>

        <li class='informationsContainer topspace'>
            <div class='informationTitle'>Priezvisko</div>
            <ul class='informationsHolder'> <li>{{ displayedUser.lastName }}  </li></ul>
        </li>

        <li class='informationsContainer topspace'>
            <div class='informationTitle'>Email</div>
            <ul class='informationsHolder'> <li>{{ displayedUser.email }}  </li></ul>
        </li>

        <li class='informationsContainer topspace' *ngIf = 'showPasswordChange'>
            <div class='informationTitle'>Heslo</div>
            <ul class='informationsHolder'> <li class='passwordChange' (click) = "changePassword()">zmeniť  </li></ul>
        </li>

        <ngx-spinner><p style="font-size: 20px; color: white">Načítavanie...</p> </ngx-spinner>

    </div>
</div>
