<div class='content'>   
    <h3 class='detailTitle'>
        <img src="../../../../assets/images_design/information_icon.png" class="titleIcon"/>
        Detaily uživateľa
    </h3>

    <div class='userInformations'>
        <li class='userInformationsContainer'>
            <div class='informationAnswer'>Avatar</div>
            <ul>
                <li class='information'>
                    <img [src]="'data:image/jpeg;base64,'+userService.user.photoBytes" class='avatar' (click)="changeFrames()"/>
                </li>
            </ul>
        </li>
        
        <li class='userInformationsContainer'>
            <div class='informationAnswer'>Meno</div>
            <ul ><li div class='information'> {{ userService.user.firstName }}</li> </ul>
        </li>

        <li class='userInformationsContainer'>
            <div class='informationAnswer'>Priezvisko</div>
            <ul> <li class='information elevation'>{{ userService.user.lastName }}  </li></ul>
        </li>

        <li class='userInformationsContainer'>
            <div class='informationAnswer'>Email</div>
            <ul> <li class='information elevation'>{{ userService.user.email }}  </li></ul>
        </li>

        <li class='userInformationsContainer'>
            <div class='informationAnswer'>Heslo</div>
            <ul> <li class='information passwordChange' (click) = "changePassword()">zmeniť  </li></ul>
        </li>
    </div>
    <ngx-spinner><p style="font-size: 20px; color: white">Načítavanie...</p> </ngx-spinner>
</div>
