@import "../app-management.component.scss"; 
@import "../../../shared/customCss/SideTablePrintScss.scss";

.leftContainer{
    width: 60%;
    float: left;
}


.formInformationContainer{
    float: left;
    width: 45%;
    margin-right: 15px;
    margin-bottom: 5px;
}


.rightContainer{
    float: left;
    margin-left: 3%;
    margin-top: 30px;
    max-width: 28%;
}

.informationsContainer{
    border-bottom: 1px solid #bababa;
}

.smallerContent{
    font-size: 13px;
    border-left: 1px solid #bababa;
}