<div class='header'>
  <div class='headerTitle'> {{ tableTitle }}</div>
</div>


<div class="tableRequest mat-elevation-z3">
  <div *ngIf="numberOfRequests"
       class="circle"
       matTooltipPosition="right"
       matTooltip="Počet požiadaviek v tabuľke"
       matTooltipClass="custom-tooltip"
       matTooltipShowDelay="100">
    {{ numberOfRequests }}
  </div>

  <!-- excel export button -->
  <button mat-raised-button
          color="success"
          id='excelButton'
          (click)="exporter.exportTable('xlsx', {fileName:'helpdesk_closed_requests'})"
          *ngIf="displayDownloadExcel">
    Exportovať ako Excel
  </button>

  <mat-table [dataSource]="dataSource" matTableExporter  #exporter="matTableExporter">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef [ngStyle]="{'background-color': headerColor}"> #</mat-header-cell>
      <mat-cell *matCellDef="let element" class='fontWeight'>
        {{ element.id }}.
        <img *ngIf="element.requestType === 'Ticket' " src="../../../../../assets/images_design/ticket_icon.png"
             class='userIcon requestIcon'/>
        <img *ngIf="element.requestType === 'Report' " src="../../../../../assets/images_design/report_icon_2.png"
             class='userIcon requestIcon'/>
        <img *ngIf="element.requestType === 'Finance' " src="../../../../../assets/images_design/finance_icon.png"
             class='userIcon requestIcon'/>
        <span class="hideOnSmallWindow">{{ element.requestType}}</span>
      </mat-cell>
    </ng-container>


    <ng-container matColumnDef="additionalInformation">
      <mat-header-cell *matHeaderCellDef [ngStyle]="{'background-color': headerColor}"> Typ</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.additionalInformation}}  </mat-cell>
    </ng-container>

    <ng-container matColumnDef="creator">
      <mat-header-cell *matHeaderCellDef [ngStyle]="{'background-color': headerColor}"> Vytvoril</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <!--<img [src]='getImage(element.creatorImageByte)' class='userIcon'/>-->
        <!--<img [src]="'data:image/jpeg;base64,'+element.creatorImageByte" class='userIcon'/>-->
        <!--<ng-container *ngFor="let image of [].constructor(getImage(element.creatorImageByte as string))">
          <img [src]="image" class='userIcon'/>
        </ng-container>-->
        <img [src]="'data:image/jpeg;base64,'+element.creatorImageByte" class='userIcon'/>
        {{ element.creator }}
        <!--{{ element.creator  | slice:0:1 | titlecase}}. {{ element.creator.split(' ')[1] | titlecase}}-->
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef [ngStyle]="{'background-color': headerColor}"> Názov</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="priority">
      <mat-header-cell *matHeaderCellDef [ngStyle]="{'background-color': headerColor}" class="hideOnSmallWindow"> Priorita</mat-header-cell>
      <mat-cell *matCellDef="let element" class="hideOnSmallWindow">
        <img *ngIf="element.requestPriority === 'nízka' " src="../../../../../assets/images_design/priority_low_icon_2.png"
             class='userIcon'/>
        <img *ngIf="element.requestPriority === 'stredná' "
             src="../../../../../assets/images_design/priority_medium_icon_2.png" class='userIcon'/>
        <img *ngIf="element.requestPriority === 'vysoká' "
             src="../../../../../assets/images_design/priority_high_icon_2.png" class='userIcon'/>
        {{ element.requestPriority}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="assigned">
      <mat-header-cell *matHeaderCellDef [ngStyle]="{'background-color': headerColor}" > Pridelené</mat-header-cell>
      <mat-cell *matCellDef="let element" >
        <div *ngIf="element.assigned !== '' ">
         <img [src]="'data:image/jpeg;base64,'+element.assignedImageByte" class='userIcon'/>
          {{ element.assigned }}
          <!--  {{ element.assigned  | slice:0:1 | titlecase}}. {{ element.assigned.split(' ')[1] | titlecase}}-->
         </div>
         <div *ngIf="element.assigned === '' && displayAssignToMe" class='assignOnMe' (click)="assignOnMe(element)">
           pridelit mne
         </div>
       </mat-cell>
     </ng-container>

     <ng-container matColumnDef="userAction">
       <mat-header-cell *matHeaderCellDef [ngStyle]="{'background-color': headerColor}"  class="hideOnSmallWindow" > </mat-header-cell>
       <mat-cell *matCellDef="let element" class="hideOnSmallWindow" >
         <div  class='removeFromMe' (click)="removeFromMe(element)">
           vzdať sa
         </div>
       </mat-cell>
     </ng-container>

     <ng-container matColumnDef="closed">
       <mat-header-cell *matHeaderCellDef [ngStyle]="{'background-color': headerColor}"> Uzatvoril</mat-header-cell>
       <mat-cell *matCellDef="let element">
        <!-- <img [src]='getImage(element.closedImageByte)' class='userIcon'/> -->
        <img [src]="'data:image/jpeg;base64,'+element.closedImageByte" class='userIcon'/>
         {{ element.closed }}
         <!--  {{ element.closed  | slice:0:1 | titlecase}}. {{ element.closed.split(' ')[1] | titlecase}}-->
       </mat-cell>
     </ng-container>

     <ng-container matColumnDef="timeCreated">
       <mat-header-cell *matHeaderCellDef [ngStyle]="{'background-color': headerColor}" class="hideOnSmallWindow"> Vytvorené</mat-header-cell>
       <mat-cell *matCellDef="let element" class="hideOnSmallWindow"> {{element.timestampCreation | date:'dd. MM. yyyy '}} </mat-cell>
     </ng-container>

     <ng-container matColumnDef="timeClosed">
       <mat-header-cell *matHeaderCellDef [ngStyle]="{'background-color': headerColor}"> Uzatvorené</mat-header-cell>
       <mat-cell *matCellDef="let element"> {{element.timestampClosed | date:'dd. MM. yyyy '}} </mat-cell>
     </ng-container>

     <ng-container matColumnDef="details">
       <mat-header-cell *matHeaderCellDef [ngStyle]="{'background-color': headerColor}"></mat-header-cell>
       <mat-cell *matCellDef="let element">
         <button mat-button class="detailButton" (click)="navigateToDetails(element.id)">
           detaily
         </button>
       </mat-cell>
     </ng-container>

     <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
     <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
   </mat-table>

   <mat-paginator #paginator
                  [pageSize]="10"
                  [pageSizeOptions]="[5, 10, 20, 100]">
   </mat-paginator>
 </div>
