<!-- user-section details -->
<div class='windowLeft' id='userInforContainer' *ngIf="user$ | async as user">

  <!-- useer informations -->
  <app-user-details
    (changeImageEmitter)="changeFrames()"
    (changePasswordEmitter)='changePassword($event)'
    [displayedUser]="user"
    addImageClick='true'
    showPasswordChange='true'>
  </app-user-details>

  <!-- user-section privileges -->
  <app-privileges
    [enabledPrivilegesCopy]='user.applicationPrivilegeDTO'
    name="uživateľa">
  </app-privileges>

</div>

<!-- group details -->
<div class='windowLeft'>

  <!-- available groups -->
  <app-user-groups
    (selectedGroupEmmiter)="initGroupPrivileges($event)"
    [groupContainer]="(user$ | async).groupContainerDTO"
    elevationActivated="true">
  </app-user-groups>

  <!-- specific groups informations -->
  <ng-container *ngIf="selectedGroup$ | async as selectedGroup">
    <app-group-details
      [groupCopy]="selectedGroup">
    </app-group-details>

    <app-privileges
      [enabledPrivilegesCopy]="selectedGroup.applicationPrivilegeDTO"
      name="Skupiny">
    </app-privileges>
  </ng-container>
</div>


<!-- shows available avatars -->
<app-image-presentation
  [hidden]="!displayAvatars"
  [avatars]="availableAvatars$ | async"
  (changeWindowEmitter)="changeFrames()"
  (selectImageEmitter)="selectImage($event)">
</app-image-presentation>


<!-- chart statistics -->
<div id="chartContainer">
  <app-request-monthly-chart
    [height]='350'
    [requestStatistics]='requestMonthlyStatistics$ | async'>
  </app-request-monthly-chart>
</div>

