
<app-header></app-header>

<app-navigation></app-navigation>

<div id='contentContainer'>
    <!-- filter -->
    <div class='filterContent'>
        <app-request-filter
            #requestFilter
            [allUsers]="allUsers$ | async"
            (changedDate) = "loadClosedRequests()"
            (changedFormFilter) = "filterClosedRequests($event)">
        </app-request-filter>
    </div>

    <!-- table with requests -->
    <app-request-table
        #closedRequests
        [displayDownloadExcel]="true"
        headerColor="#E8F3FF"
        [displayedColumns]= "viewTable"
        displayAssignToMe='true'
        tableTitle="Uzatvorené požiadavky">
    </app-request-table>

</div>
<ngx-spinner  >
  <p style="font-size: 20px; color: white">Načítavam požiadavky...</p>
</ngx-spinner>
