.topspace{
    margin-top: 10px;
}

.smallerContent{
    font-size: 14px;
}

.formTitleSmall{
    font-size: 19px;
    font-weight: bold;
    color:#818181;
}


.icon{
    width: 25px;
    height: 25px;
    margin-right: 5px;
    margin-top: -8px;
}

#detailTitle{
    margin-left: 5px;
}

.formInformationContainerSubcontent{
    position: relative;
    margin-bottom: 15px;
}

.rightContainer{
    position: relative;
}

.informationsContainer{
    margin-left: 15px;
}

.informationTitle{
    flex: 0 0 165px;
    font-weight: bold;
}

.informationsHolder{
    color:#676666;
}

li {
    display: flex;
    word-break: break-word;
    min-width: 150px;

  }
ul{
    margin-bottom: 0px;
}