<form [formGroup]="userRegistrationForm" (ngSubmit)="submit()" #userFormViewChild="ngForm">
  <div class='inlineParameters formTitleContainer'>
    <img src="assets/images_design/registeru_user_icon.png" class='bigIcon'>
    <span class='formTitle'>Registrovanie uživateľa</span>
  </div>

  <mat-form-field class='inlineParameters'>
    <input matInput placeholder="Meno uživateľa" formControlName="firstname">
    <mat-error *ngIf="firstname.invalid"> Prosím zadefinujte meno uživateľa</mat-error>
  </mat-form-field>

  <mat-form-field class='inlineParameters'>
    <input matInput placeholder="Priezvisko uživateľa" formControlName="lastname">
    <mat-error *ngIf="lastname.invalid"> Prosím zadefinujte priezvisko uživateľa</mat-error>
  </mat-form-field>

  <mat-form-field class='inlineParameters'>
    <input matInput placeholder="Prihlasovacie meno (username) uživateľa" formControlName="username">
      <mat-error *ngIf="username.errors?.required"> Prosím zadefinujte prihlasovacie meno uživateľa</mat-error>
      <mat-error *ngIf="username.errors?.minlength">Prihlasovanie meno musí mať minimálen 6 znakov</mat-error>
      <mat-error *ngIf="username.errors?.notUniqueUsername"> Uživateľ s rovnakým menom už existuje!</mat-error>
  </mat-form-field>

  <mat-form-field class='inlineParameters'>
    <input matInput placeholder="Email uživateľa" formControlName="email">
    <mat-error *ngIf="email.invalid"> Prosím zadefinujte email uživateľa</mat-error>
  </mat-form-field>

  <!-- submit button -->
  <div class='inlineParameters'>
    <button mat-raised-button color="primary" class="sendingButton" type="submit">
      Odoslať
    </button>
  </div>
</form>
