
@import '../../../../../shared/style/formScss';
@import '../../../../../shared/style/iconScss';

/*
.registerUserIcon{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}


@media(min-width:1919px) {
    .registerUserIcon{
        width: 45px;
        height: 45px;
    }

}
*/
