<ng-container *ngIf="request$ | async as request">
  <app-request-management
    class='content'
    [isOpen]='!request.closed'
    [allowCommenting]="request.allowCommenting"
    [availableUsers]='allusers$ | async'
    [enableChangeState]='(this.isAdmin$ | async) || request.assigned?.username === userStoreService.user.username || request.creator.username === userStoreService.user.username'
    [enableChangeCommenting]="(this.isAdmin$ | async) || request.assigned?.username === userStoreService.user.username "
    [enableRemoveSolver]='(this.isAdmin$ | async) || request.assigned?.username === userStoreService.user.username '
    [enableChangeSolver]='(this.isAdmin$ | async) || ((isSolver$ | async) && ((isManager$ | async) || (isSolverRightHand$ | async)))'
    [enableChangePriority]='(isAdmin$ | async) || ((isSolver$ | async) && request.assigned?.username === userStoreService.user.username) '
    [enableEvaluation]='request.requestType === requestType.Report &&  (( isAdmin$ | async ) || request.assigned?.username === userStoreService.user.username ) '
    (changeStateEmitter)='changeState(request)'
    (commentingEmitter)='changeCommenting(request)'
    (removeMeOnRequestEmitter)='removeMeOnRequest(request)'
    (changeSolverEmitter)='changeSolver(request, $event)'
    (changePriorityEmitter)='changePriority(request, $event)'
    (evaluationEmitter)='addReportEvaluation(request, $event)'>
  </app-request-management>
</ng-container>
