
<ng-sidebar-container>

    <ng-sidebar [opened]="sideBarBoolean" mode="over" [keyClose]="deny" position="right" [dock]="deny" [dockedSize]="'50px'"
        autoCollapseHeight="null" autoCollapseWidth="null"  [closeOnClickOutside]="deny" [showBackdrop]="deny"
         [ariaLabel]="'My sidebar'">

        <div id = 'sliderDiv1'  (click)='openSideBar()'> <i class="material-icons sliderButton" > reorder</i></div>
        <hr>

        <app-request-side-options  #sideBar >
        </app-request-side-options>

    </ng-sidebar>
    
    <div ng-sidebar-content>      
        <app-header></app-header>
        <app-navigation></app-navigation>

       
       

        <div id='contentContainer' >
        <div id=requestRightSide>
            <div id = 'sliderDiv2'  (click)='openSideBar()'> <i class="material-icons sliderButton" > reorder</i></div>
            <app-request-side-information #sideDetails></app-request-side-information>
        </div>

        <div id='requestLeftSide'>


            <!-- TICKET -->
            <div  *ngIf = "(requestService.getRequestDetials() | async)?.requestType === 'Ticket'" class='customRow mainInformationContainer' >
                    <div class="raisedbox customCol" [style.width.%] = 75>
                        <p class="raisedboxName" >
                            <img [src]="'data:image/jpeg;base64,'+(requestService.getRequestDetials() | async)?.creator.photoBytes" class='avatar' />
                                {{ (requestService.getRequestDetials() | async)?.creator.firstName }} {{ (requestService.getRequestDetials() | async)?.creator.lastName }}<br>
                                {{ (requestService.getRequestDetials() | async)?.timestampCreation | date:'MMM d, y, h:mm:ss a'}}            
                        </p>
                        <p > {{(requestService.getRequestDetials() | async)?.name}} </p>
                    </div>
            </div>
            <!-- ------------------- -->

            <!-- REPORT -->
            <div  *ngIf = "(requestService.getRequestDetials() | async)?.requestType === 'Report'" class='mainInformationContainer'>
                <div class='customRow'>
                        <div class="raisedbox customCol" [style.width.%] = 45>
                            <p class="raisedboxName">Účeľ reportu</p>
                            <p *ngIf = "(requestService.getReportDetails() | async)?.purpose"   class='test'>
                                {{(requestService.getReportDetails() | async)?.purpose}} 
                            </p>
                        </div>

                        <div class="raisedbox customCol" [style.width.%] = 45>
                            <p class="raisedboxName">Kritériá reportu</p>
                            <p  class='test'> 
                                {{(requestService.getReportDetails() | async)?.criteria}} 
                            </p>
                        </div>
                    </div>
                    <div class='customRow'>
                        <div class="raisedbox customCol" [style.width.%] = 45>
                            <p class="raisedboxName">Viditeľné údaje</p>
                            <p   class='test'>
                                {{(requestService.getReportDetails() | async)?.visibleData}} 
                            </p>
                        </div>
                        <div class="raisedbox customCol" [style.width.%] = 45 *ngIf="(requestService.getReportDetails() | async)?.otherInformation !== '' ">
                            <p class="raisedboxName">Dodatočné informácie</p>
                            <p class='test'> {{(requestService.getReportDetails() | async)?.otherInformation}} </p>
                        </div>
                    </div>
            </div>
                <!-- ------------------- -->



            <app-comment [requestComments] = "(requestService.getRequestDetials() | async)?.requestCommentDTOS"></app-comment>

        </div>
    </div>
 </div>

</ng-sidebar-container>
