
#contentContainer{
    height: 100%;
    width: calc(100% - 85px);
    padding: 5px;
    float: right;
}
#requestLeftSide{
    width: 60%;
    float: left;
}

#requestRightSide{
    width: 35%;
    float: right;
}
.customRow {
    display: flex; 
  }
  
.customCol {
    flex: 1;
  }

.raisedbox { 
	color:#8a8a8a;
    padding: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 1px 2px rgba(119, 119, 119, 0.75);
    -moz-box-shadow: 1px 1px 1px 2px rgba(119, 119, 119, 0.75);
    box-shadow: 1px 1px 1px 2px rgba(119, 119, 119, 0.75);

    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #FBFBFB;
    font-size: 14px;
}

.avatar {
    height: 35px;
    width: 35px;
    margin-right: 5px;
}

.raisedboxName{
    position: relative;
    font-weight: bold;
    font-size: 12px;
    display: flex;
}

.mainInformationContainer{
    margin-bottom: 20px;
}



