
<ng-sidebar-container>

    <ng-sidebar [opened]="sideBarBoolean" mode="over" keyClose="false" position="right" [dock]='false' [dockedSize]="'50px'"
        autoCollapseHeight="null" autoCollapseWidth="null"  [closeOnClickOutside]='false' [showBackdrop]='true'
         [ariaLabel]="'My sidebar'"  *ngIf = "!(isGhost$ | async)">

        <div id = 'sliderDiv1'  (click)='openSideBar()' > 
            <i class="material-icons sliderButton" > reorder</i>
        </div>
        <hr>

        <app-request-management-container #sideBar ></app-request-management-container>
    </ng-sidebar>
    
    <div ng-sidebar-content>    
        <app-header></app-header>
        <app-navigation></app-navigation>


        <div id='contentContainer' *ngIf = 'requestDetail$ | async as requestDetail' >
            <div id=requestRightSide >
                <div id = 'sliderDiv2'  (click)='openSideBar()' *ngIf = "!(isGhost$ | async)"> 
                    <i class="material-icons sliderButton" > reorder</i>
                </div>

                <app-request-side-information #sideDetails>

                </app-request-side-information>
            </div>

            <div id='requestLeftSide'>
               <!-- <app-request-content 
                    [requestDetail]='requestDetail'>
                </app-request-content>

               <app-request-comment-container
                    [requestComments]='(requestDetail$ | async).requestComments'
                    [commentSolutionId]='(requestDetail$ | async).solutionComment'
                    [isRequestOpen]='(requestDetail$ | async).closed === null'>
               </app-request-comment-container>

                <app-request-comment-sharing  
                    *ngIf="changeFramws"  
                    class = 'displayCommentSharing'
                    (changeWindow) = "changeFrames(undefined)" 
                    (shareWithGroup) = "shareWith($event)">
                </app-request-comment-sharing>

                <app-request-comment-form 
                    (addedCommentEmitter)="addCommentToArray($event)">
                </app-request-comment-form>-->

            </div>
        </div>

        <ngx-spinner >  <p style="font-size: 20px; color: white">Načítavam požiadavku...</p> </ngx-spinner>
 </div>




</ng-sidebar-container>
