
#ticketSendingButton {
  margin-top: 45px;
  float: right;
  background-color: #0077ec;
}


mat-form-field, mat-checkbox, .movedError {
  margin-left: 20px;
  display: inline;
}

textarea {
  height: 175px;
}


