
<div class='filterContainer'>
    <!-- filter by time -->
    <mat-form-field >
        <input matInput
               placeholder="Filtrovanie dátumu"
               [satDatepicker]="picker"
               (dateChange)="saveDateAndFilter($event.value)">
        <sat-datepicker #picker [rangeMode]="true"></sat-datepicker>
        <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
    </mat-form-field>
    <span class=" fontChange ">Uzavretia požiadávok od <b>{{ dateFrom }} </b> do   <b>{{ dateTo }} </b> </span>
</div>

<!-- main filter type -->
<mat-form-field class='filterContainer'>
    <mat-label>Filtrovanie požiadávok</mat-label>

    <mat-select [(ngModel)]="selectedType">
        <mat-option value='type' > Typ </mat-option>
        <mat-option value='creator' > Vytvoril </mat-option>
        <mat-option value='closed' > Uzavrel </mat-option>
        <mat-option value='name' > Názov </mat-option>
        <mat-option value='priority' > Priorita </mat-option>
    </mat-select>
</mat-form-field>


<!-- filter form -->
<form [formGroup] = "filterForm" >
    <mat-form-field class='filterContainer' *ngIf='selectedType === "type" '>
        <mat-label>Typu</mat-label>
        <mat-select  formControlName="type">
            <mat-option value='Ticket' > Tiket </mat-option>
            <mat-option value='Report' > Report </mat-option>
            <mat-option value='Finance' > Financie </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class='filterContainer' *ngIf='selectedType === "creator" && isMoreThanNormalUser$ | async ' >
        <mat-label>Výtvorca</mat-label>
        <mat-select  formControlName="creator">
            <mat-option
                *ngFor= 'let user of allUsers$ | async'
                [value] = 'user.firstName + " " + user.lastName'>
                    {{ user.firstName }} {{ user.lastName }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class='filterContainer' *ngIf='selectedType === "closed" && isMoreThanNormalUser$ | async '>
        <mat-label>Uzavrel</mat-label>
        <mat-select  formControlName="closed">
            <mat-option
                *ngFor= 'let user of allUsers$ | async'
                [value] = 'user.firstName + " " + user.lastName' >
                    {{ user.firstName }} {{ user.lastName }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf='selectedType === "name" ' >
        <input  matInput placeholder="Názov požiadavky" formControlName = "name" >
    </mat-form-field>

    <mat-form-field class='filterContainer' *ngIf='selectedType === "priority" ' >
        <mat-label>Priorita</mat-label>
        <mat-select  formControlName="priority">
            <mat-option value='nízka' > nízka </mat-option>
            <mat-option value='stredná' > stredná </mat-option>
            <mat-option value='vysoká' > vysoká </mat-option>
        </mat-select>
    </mat-form-field>
</form>


<!-- print filtering results -->
<div class = 'filterContainer filterOptions'>
    <li *ngIf="type.value !== '' ">
        <img src="../../../../assets/images_design/delete_icon.png" class='formdeleteButton' (click)="deleteFilterOption('type')">
            Typ {{type.value}}
    </li>
    <li *ngIf="creator.value !== '' ">
        <img src="../../../../assets/images_design/delete_icon.png" class='formdeleteButton' (click)="deleteFilterOption('creator')">
        Vytvoril {{creator.value}}
    </li>
    <li *ngIf="closed.value !== '' ">
        <img src="../../../../assets/images_design/delete_icon.png" class='formdeleteButton' (click)="deleteFilterOption('closed')">
        Uzavrel {{closed.value}}
    </li>
    <li *ngIf="name.value !== '' ">
        <img src="../../../../assets/images_design/delete_icon.png" class='formdeleteButton' (click)="deleteFilterOption('name')">
         Názov {{name.value}}
    </li>
    <li *ngIf="priority.value !== '' ">
        <img src="../../../../assets/images_design/delete_icon.png" class='formdeleteButton' (click)="deleteFilterOption('priority')">
        Priorita {{priority.value}}
    </li>
</div>
