


<div class = 'container'>
    <div class = 'contanierTitle'>
        <span class='formTitleSmall selectTitleSpace'>Zvoľte uživateľa</span>
        <mat-form-field >
            <mat-label>Vyberte uživateľa</mat-label>
            <mat-select (selectionChange)= "selectUser($event.value)">
                <mat-option *ngFor = 'let value of users | async ' [value] = 'value.username'> 
                    {{ value.firstName }} {{ value.lastName }}
                </mat-option>
            </mat-select>

        </mat-form-field>

        <app-user-details  #userDetails ></app-user-details>
        <app-privileges #userPrivileges ></app-privileges>
        <app-user-groups #userGroups ></app-user-groups>
    </div>

</div>



<div class = 'container leftLine'>
    <div class = 'contanierTitle'>
        <span class='formTitleSmall selectTitleSpace'>Zvoľte skupinu</span>
        <mat-form-field >
            <mat-label>Vyberte skupinu</mat-label>
            <mat-select (selectionChange)= "selectGroup($event.value)">
                <mat-option *ngFor = 'let name of groups | async ' [value] = 'name'> {{ name }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <app-group-details #groupDetails [activeButtons] = "(isAdmin$ | async) || (hasPrivilegeAccess$ | async)"
        (deleteGroupActivation) = "deleteGroup()">

    </app-group-details>
    <app-privileges #groupPrivileges (resetButton) = "resetGroupPrivileges()" 
                (saveButton) = "saveGroupPrivileges($event)"
                [activateUnableClick] = "(isAdmin$ | async) || (hasPrivilegeAccess$ | async)" >
    </app-privileges>
</div>


