

<!-- user management -->
<div class = 'container'>
    <div class = 'contanierTitle'>
        <span class='formTitleSmall selectTitleSpace'>Zvoľte uživateľa</span>
        <mat-form-field >
            <mat-label>Vyberte uživateľa</mat-label>
            <mat-select (selectionChange)= "selectUser($event.value)">
                <mat-option *ngFor = 'let value of users | async ' [value] = 'value.username'> 
                    {{ value.firstName }} {{ value.lastName }}
                </mat-option>
            </mat-select>

        </mat-form-field>
    </div>   
    
    <!-- modifycation buttons -->
    <ng-container  *ngIf='userDetails.displayedUser && !(isGhost$ | async)'>
        <button mat-button 
                color="primary" 
                class='modificationButton' 
                id='resetButton'  
                (click) = 'resetUserPassword()'
                matTooltip="Resetovaním uživateľa sa vygeneruje nové heslo, ktoré mu bude zaslané emailom"
                matTooltipPosition="right"
                matTooltipClass="custom-tooltip"
                matTooltipShowDelay="150">
            Resetovať
        </button>

        <button mat-button 
                color="success" 
                class='modificationButton' 
                id='ActivateDisableBUtton' 
                *ngIf='!userDetails.displayedUser.active'
                (click) = 'modifyUserState()'
                matTooltip="Aktiváciou uživateľa povolíte prihlásenie do systému"
                matTooltipPosition="right"
                matTooltipClass="custom-tooltip"
                matTooltipShowDelay="150">
            Aktivovať
        </button>

        <button mat-button 
                color="warn"  
                class='modificationButton' 
                id='ActivateDisableBUtton'  
                *ngIf='userDetails.displayedUser.active'
                (click) = 'modifyUserState()'
                matTooltip="Zablokovaním uživateľa zakážete prihlásenie do systému"
                matTooltipPosition="right"
                matTooltipClass="custom-tooltip"
                matTooltipShowDelay="150">
            Zablokovať
        </button>
    </ng-container>


    <app-user-details  #userDetails ></app-user-details>
    <app-privileges #userPrivileges ></app-privileges>
    <app-user-groups #userGroups ></app-user-groups>
</div>


<!-- group management -->
<div class = 'container leftLine'>
    <div class = 'contanierTitle'>
        <span class='formTitleSmall selectTitleSpace'>Zvoľte skupinu</span>
        <mat-form-field >
            <mat-label>Vyberte skupinu</mat-label>
            <mat-select (selectionChange)= "selectGroup($event.value)">
                <mat-option *ngFor = 'let name of groups | async ' [value] = 'name'> {{ name }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <!-- modifycation buttons -->
    <app-serdbuttons #serdbuttonsGroup 
        id='serdbuttonsGroup' 
        *ngIf="groupDetails.group  && !(isGhost$ | async)" 
        (editEmittter) = "editGroup()" 
        (resetEmittter) = "resetGroup()"
        (saveEmittter) = "saveGroup()"
        (deleteEmittter) = "deleteGroup()">
    </app-serdbuttons>

    <app-group-details #groupDetails ></app-group-details>
    <app-privileges #groupPrivileges [applyGreenColor] = 'true'></app-privileges>
</div>


