.container{
    width: 40%;
    float: left;
    height: 100%;
    padding: 20px 0px 0px 50px;
    position: relative;
}

.leftLine{
    border-left: 1px solid #d7d7d7;
}

.selectTitleSpace{
    
    margin-right: 15px;
}

.formTitleSmall{
    font-size: 17px;
    font-weight: bold;
    color: #818181;
}

.contanierTitle{
    position: relative;
}
